[2017-04-17 17:55] digitalcraftsman opened #5 "Contact form complains about invalid email address after page has been loaded"
The contact form shows the error message "Must be a valid email address." even if no email address was entered yet.

[2017-04-17 22:19] budparr commented on #5
So you just mean the copy below the field, right? Yeah, I should make that more usable. I only had it in as an example of a comment (in another instance of the form I use that as a hidden validation message, hence that wording).

[2017-04-18 12:58] budparr opened #11 "Fix image references to be more robust"
From this issue:
https://github.com/spf13/hugoThemes/issues/247#issuecomment-294830913

[2017-04-18 15:58] digitalcraftsman commented on #5
Exactly

[2017-04-18 16:08] budparr commented on #5
So, I fixed that, thank you. I changed the copy to make sense.

[2017-04-18 16:08] #5 closed

[2017-04-19 20:49] #11 closed

[2017-04-22 00:37] RickCogley opened #18 "Include dev and production css etc"
Hi @budparr, this is a nice theme. I like the idea that it's for teaching. People could use that.

Along that line, one idea is: include both the production zipped assets (css/js) and, an unzipped version, so people can see how it works and the difference b/w a minified/zipped and non-minified.

Regards

[2017-04-22 00:40] RickCogley commented on #18
Along these lines, you mention about how to use Tachyons. An explanation of how that's done - perhaps by including its css and another css where you customize - would help people imo.

[2017-04-22 01:38] budparr commented on #18
Thanks, @RickCogley Those are good ideas. The source files are in the dev branch, but sounds like you think it would be a good idea to include them in master (as well as output unminified versions for perusal).

[2017-04-22 02:43] RickCogley commented on #18
I see. I agree that's what you'd do if you were putting it into production yourself. But it's so well documented internally, it might be worth putting some extra comments and pointers in, to explain what the person needs to do in reality. Like "Original tachyons css from dist. Used minified one in production" kind of showing the user how they should comment one out and the other in?

[2017-04-23 05:32] jomazu commented on #18
Hi @budparr, excellent theme, I'm really enjoying it! I have one minor request. The addition/incorporation of the following social icons, which seem to be highly used by most developers and professionals - including myself:
[code]
I added them to the following files, for my cloned project:
[code]
However, I cannot get the hover:over results to match yours. I pulled the Dev Branch and added the nec

[2017-04-23 14:46] jomazu commented on #18
@budparr, please disregard! I figured it out how to re-build the source using yarn and webpack - now everything is working as expected... Thanks

[2017-04-24 12:04] budparr commented on #18
Thanks, @jomazu Glad you got it worked out. I think I will move the src into master and add some annotations for others. I really appreciate both of your comments.

[2017-04-28 18:07] eidolonic opened #19 "Hero image not sought or 404"
When running in localhost with hugo server, hero image cannot be found and sometimes isn't even looked for.

Have tried:

* Specifying in site config.toml featured_image -- Does not appear to be respected at all; Network tab shows no attempt to find file
* Specifying in content/_index.md front matter featured_image: 'static/images/file.jpg' -- Site tries to pull from //localhost:1313/static/images

[2017-04-28 23:33] budparr commented on #19
Thank you, @eidolonic It's very likely something I did trying to get the URLs to work on any instance, including where the install is in a nested folder. I'll have a look tonight.

[2017-04-29 18:13] budparr opened #20 "Add bg to TOC so it sits above footer"
https://github.com/budparr/gohugo-theme/issues/13#issuecomment-298175677

[2017-04-29 18:13] budparr opened #21 "Improve styling of quotes"
https://github.com/budparr/gohugo-theme/issues/13#issuecomment-298175677

[2017-04-29 18:14] budparr opened #22 "Review font weight of inline code examples"
In-line code examples

[2017-04-29 18:21] budparr opened #23 "See if HLJS can work on generic (non-language specific) code blocks"
Currently HLJS is cued off of the class `language-html` or other appropriate language. Code blocks only get that class if they're wrapped in a short-code, and handling of the shortcode is inconsistent through the docs, leaving many left without highlight.

So either we need to find a way to apply hljs to generic code that doesn't have that class or apply the shortcode uniformly to the code.

cc @d

[2017-04-29 18:46] rdwatters commented on #23
The language declaration doesn't require the shortcode. Hugo (Blackfriday) can take care of triple back ticks, which is all HLJS should need. If it's inconsistent, it just means I missed a few items :smile: The current site uses only the indented syntax (with no language declaration, if I recall), and things are still being highlighted. I'll add this to my list of cleanup this weekend; so, I'll st

[2017-04-29 18:50] budparr commented on #23
Alright. So I may have been too aggressive with stripping out styles for things that were not Hugo. I see, too that there's Hugo stuff that is `language-html` as well `language-golang` which, the latter, I didn't account for.

[2017-04-29 18:55] budparr commented on #23
Yeah, that makes sense. So things that don't need those features, shouldn't be wrapped in the shortcode, therefore I need to account for them in my styling. I'll take another look.

and, as you can see here I stripped out everything. https://github.com/budparr/gohugo-theme/blob/master/src/css/_hljs.css

But as far as I understood, HLJS is language specific, but I'll see if I can dig up something,

[2017-04-29 19:12] #23 closed

[2017-04-30 03:00] #22 closed

[2017-04-30 03:00] #21 closed

[2017-04-30 03:00] #20 closed

[2017-04-30 03:01] budparr opened #27 "Add more social icons"
https://github.com/budparr/gohugo-theme-ananke/issues/18#issuecomment-296420923

[2017-04-30 03:29] budparr commented on #19
Hey, @eidolonic

At some point I changed this to not use a config default because I felt like the behavior should be not to have anything if you didn't have an image on the page. If you want the default from the config, I can show you how to do that `{{ $featured_image := .Params.featured_image | default .Site.Params.featured_image }} `

The reference should not include `static`

"(site root)/stat

[2017-04-30 14:11] budparr commented on #18
@RickCogley and @jomazu I've added the src folder with the asset pipeline to master, and a more complete readme in the src folder. That could probably use more comments, and your perspective and suggestions are welcome.

@jomazu I know you've got yours worked out, but I've added an issue to add more social icons for those in the futures. Thanks very much for pointing it out.

[2017-04-30 14:11] #18 closed

[2017-05-01 12:15] eidolonic commented on #19
@budparr Thanks for your detailed response and sorry for squirreling you on a non-issue. Simply removing the `static` portion of the front matter reference fixed the problem. Thought I had tried that, but clearly not. 😎 Thanks for a killer theme.

[2017-05-01 12:15] #19 closed

[2017-05-01 12:18] budparr commented on #19
Awesome! Glad to hear you got it figured out.

[2017-05-01 20:50] budparr opened #28 "Apply Hugo's whitespace uniformly"

[2017-05-16 02:08] budparr opened #29 "change ".Now" to "now""

[2017-05-16 02:12] #29 closed

[2017-05-23 10:28] loxs opened #31 "Error rendering index when too little items"
`ERROR 2017/05/23 13:20:17 Error while rendering "home": template: <myproject>/themes/gohugo-theme-ananke/layouts/index.html:34:27: executing "main" at <after 3 $section>: error calling after: no items left`

[2017-05-23 11:29] #31 closed

[2017-05-23 11:30] budparr commented on #31
This is fixed. Thanks for the catch, @loxs !

[2017-05-23 19:13] arikroc opened #33 "What does app.bundle.js do?"
What does app.bundle.js do?

[2017-05-23 19:16] budparr commented on #33
Not much, actually. It's there for adding any javascript, and mostly for an example. But there's some explanation here: https://github.com/budparr/gohugo-theme-ananke/tree/master/src and I'm happy to answer any questions.

[2017-05-23 19:26] arikroc commented on #33
Thanks and thanks for making this theme :)

[2017-05-23 19:26] #33 closed

[2017-06-13 13:08] RobertCvn opened #35 "Tachyons has been updated to 4.7.1"
This theme bundles 4.7.1

[2017-06-16 01:25] cbp123 opened #36 "The example site includes "featured_image" as a parameter in the root config.toml"
I don't think the featured image is ever taken from the root config.toml file though - it is only acquired from the front matter on content files. This is a little confusing for first-time users.

[2017-06-16 18:01] budparr commented on #36
Thanks, @cbp123 You're right. I've been a bit wishy-washy on how to handle the featured image and need to solidify its use and the explainer comments around it. I'll leave this open until I do.

[2017-06-21 23:59] budparr opened #37 "Improve Archetype"
https://github.com/gohugoio/hugo/releases/tag/v0.24

[2017-06-26 23:56] wrshoemaker opened #38 "LaTeX support?"
Love the style. Just made my personal website with it. Are there any plans to support LaTeX in the future? Or is that feature already supported?

[2017-06-27 00:45] budparr commented on #38
Thank you, @wrshoemaker  - I don't know how to do that. Maybe @rdwatters knows?

[2017-06-27 16:58] rdwatters commented on #38
I have very little knowledge of LaTeX. Sorry @wrshoemaker, @budparr I've used a hack with Pandoc, Word default styles, and some ugly AppleScript when I needed to generate both HTML pages and PDF from a single markdown file.

I'm sure a LaTeX guru could make quick work of this with custom outputs, but in 2017, I feel like it's a better use of time to focus on a solid print stylesheet in the event u

[2017-06-27 20:15] budparr opened #39 "Add tags"
so it show on some of the filters on the Hugo themes site.

[2017-08-04 07:31] zzamboni opened #41 "How to change the height of the header image?"
Hi @budparr,

I've been playing with Hugo+Ananke, and I really like it. I do have one question: is there an easy way to resize the header? I would like to make it a bit shorter so it doesn't take up so much space. I gather that it should be possible by reconfiguring some CSS parameter, but I'm not fluent enough to figure it out.

Thanks in advance, and thanks for your work on the theme!

[2017-08-04 12:41] budparr commented on #41
Hey, @zzamboni  - If you duplicate the header file in your root (so you don't have to change anything on the the theme) you can change the padding on the content in the header (which is what makes it the size that it is).

So for example, change `pb3-m pb6-l` to whatever suits you (`pb2` ?) here: https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/partials/page-header.html#L6

Hope

[2017-08-05 23:59] zzamboni commented on #41
@budparr indeed it helped - thanks! Your pointer got me looking in the right direction and I've finally started to figure out the effects the different classes have. In case anyone else comes looking, this page has helped me a lot: http://tachyons.io/docs/table-of-styles/

[2017-08-05 23:59] #41 closed

[2017-08-06 12:01] budparr commented on #41
That's awesome. I'll put a note about this in the readme.

[2017-08-22 14:18] mbana opened #42 "table of contents: toc = true - please add support"
hi,

please add support for this.

[code]

in `resume.md` i want all the headings to show up on the right-hand side of the page. currently it only lists the other pages in the same directory.

Thanks a lot,

[2017-08-22 14:26] budparr commented on #42
Good idea. I'll try to look soon, and if you want to accomplish this now, you could duplicate this template into your root folder and overwrite it there: https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/partials/menu-contextual.html

So, in your site, it would be making a copy from:
`themes/gohugo-theme-ananke/layouts/partials/menu-contextual.html`
to here:
`layouts/partials/menu

[2017-08-23 03:44] zzamboni commented on #42
@mbana I recently dealt with this - if you want to take a look, here's the simple toc.html file I'm using at my website zzamboni.org: https://github.com/zzamboni/zzamboni.org/blob/master/layouts/partials/toc.html. I'm using the builtin .TableOfContents, processing it to show up on the right-hand on a similar style to the "other posts" box.

[2017-08-23 03:46] zzamboni commented on #39
@budparr I added this to your existing tags.html partial, to show the plain list of tags in addition to the list of related posts: https://github.com/zzamboni/zzamboni.org/blob/master/layouts/partials/tags.html#L3-L8

[2017-08-23 21:48] jonnermut opened #43 "The font class on <body> should be a parameter"
First thing I wanted to customize was the font. Ran straight into https://github.com/gohugoio/hugo/issues/3505

[2017-08-23 21:51] jonnermut opened #44 "Keywords are ignored"
The Hugo doco says that `keywords` is a known parameter, but they seem to be ignored in the ananke templates?

[2017-08-24 00:00] #43 closed

[2017-08-24 00:01] budparr commented on #43
That should do it. You can add the parameter `body_classes` to config or to a page.

[2017-08-24 00:43] jonnermut commented on #43
great, thanks

[2017-09-09 03:53] zo0o0ot opened #46 "Changing width of content?"
I'm a bit of a newbie with hugo, but I can't figure out how to modify the width of the default content in your theme.

I see the layout here: https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/_default/single.html

It's my understanding that I'd override the layout in `/layouts/_default/single.html`.

My goal is to provide more width by default in order to embed Tableau Public char

[2017-09-09 20:23] budparr commented on #46
Hey @zo0o0ot In this line: https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/_default/single.html#L4 Remove `mw7` and that should work for you. Let me know if that's not what you're looking for.

And, here's the max width settings in Tachyons, which you might find helpful as well. https://github.com/tachyons-css/tachyons/blob/master/src/_max-widths.css

[2017-09-10 04:47] zo0o0ot commented on #46
This seemed to solve the issue.  I'll let you know if I run into anything else.

[2017-09-10 04:47] #46 closed

[2017-09-19 08:17] saljut7 opened #47 "ERROR: [...] template.go:495: Failed to add template"
Hi,

wanted to try HUGO following https://gohugo.io/getting-started/quick-start/ but get

[code]

I work with HUGO version provided by Debian 9.1:

[code]

Is the stable repository version of HUGO to old to work with HUGO standard template?

Thx
sj7

[2017-09-19 11:30] budparr commented on #47
Hey, @saljut7 I'll check this out today.

[2017-09-20 19:19] budparr commented on #47
Hey, @saljut7 I'm sorry I could have helped you more easily had I just looked closer at the issue when you dropped it (I've been in middle of a big site launch). The Hugo version you have there is quite out of date. Hugo is currently on `.27.1` and I recall that the way `now` is handled is new from a few versions back. I don't use Debian, but from the docs it looks like you can use the Snap packag

[2017-09-20 19:19] #47 closed

[2017-09-21 03:12] zo0o0ot opened #50 ""featured_image" behaves strangely if a URL link is in the description before the "more" separator."
I was confused by the size of my "featured_image" images changing to much smaller size on my index page seemingly at random.

I then figured out that my latest change introduced description text that included URL links in this format:

`_The morning of a Packer Game - [The NFC Championship in Green Bay before Super Bowl XXXI](http://www.pro-football-reference.com/boxscores/199701120gnb.htm)._`

If

[2017-10-03 14:28] saljut7 commented on #47
THx @budparr it works using snap. :)

[2017-10-05 15:46] carmenbianca opened #56 "Code formats without line breaks"
See

![ekrankopio de 2017-10-05 17-42-43](https://user-images.githubusercontent.com/12065945/31236620-e8964de2-a9f4-11e7-8a84-6e5584c1a8c0.png)

See also https://github.com/carmenbianca/gohugo-theme-ananke/commit/395981a3e672f88bca2eeaad3f343f48b22418ca

I'm not quite sure what's wrong though. Copy+pasting the raw HTML formats it correctly, so there's probably something in the CSS, maybe.

[2017-10-06 12:34] wikty commented on #56
Maybe, there is a bug in CSS `themes/ananke/static/dist/main.css`. `pre code` is set as `white-space:normal;` . I think `white-space:pre;` is correct.

[2017-10-06 12:49] budparr commented on #56
I'll try to check this out today. Oddly enough I rarely, if ever, write code blocks in my posts, so this is a lacuna for me.

[2017-10-12 08:15] niconoe commented on #56
+1: got the same problem (with HTML code using the highlight sorthcode), and indeed changing `white-space` from `normal` to `pre` seems to solve the issue.

I wanted to properly test everything to submit a pull request, but I'm not sure of how to properly build the CSS.. Should I call Postcss-cli directly? It would be great if you could give us some build instructions - it may even be a good oppor

[2017-10-12 12:23] budparr commented on #56
Hey, @niconoe Does this help? https://github.com/budparr/gohugo-theme-ananke/tree/master/src

If you cd into the source folder (and yarn install), `npm run build:production` will do it.

[2017-10-12 13:32] niconoe commented on #56
Thanks a lot, I missed that README file.

[2017-10-12 20:03] #56 closed

[2017-10-12 20:04] budparr commented on #56
Thanks everyone, and thanks @niconoe for the contribution!

[2017-10-12 20:22] budparr commented on #50
@zo0o0ot Are you talking about the `description` in front matter? If I put that copy in the front matter I see that it doesn't render as HTML, but it doesn't change the image. Just want to make sure we get the right solution for you.

[2017-10-12 20:23] budparr commented on #42
I think this is a good idea, and a good opportunity to use some Hugo native functionality. I'm working on a new version of the theme and will include a provision for this. Thanks for your patience, I've been swamped lately.

[2017-10-12 20:32] budparr opened #58 "Improve flex column on single template"

[2017-10-12 20:33] budparr opened #59 "[documentation] Add info on ENV variable in readme"

[2017-10-12 20:34] budparr opened #60 "[webpack] Hash assets"
This will improve performance.
- [ ] Set up dev only webpack config

[2017-10-13 04:55] zo0o0ot commented on #50
I'm referring to the behavior of the main page of the site if there are posts with links in their description.

I actually had issues with the images resizing in unexpected ways if I had text with a link in the first portion of the post, before the `` separator.  If the links were after the `` separator, everything seemed fine.

On my site, I fixed the issue with this commit: https://github.com/se

[2017-10-13 20:01] budparr commented on #50
Okay. I previously thought you were talking about the hero images, so I'll check it out and see what I can do.

[2017-10-16 16:56] #50 closed

[2017-10-16 16:56] budparr commented on #50
Thanks for letting me know about this @zo0o0ot Should be fixed now.

[2017-10-27 15:56] budparr opened #61 "Make it easy to swap out parts of the head"

[2017-10-27 15:56] budparr opened #62 "(consider) Add netlify headers (make sure nothing breaks if a user isn't using Netlify)"

[2017-10-27 15:56] budparr opened #63 "Improve page header"

[2017-10-27 15:56] budparr opened #64 "Show use of custom outputs"

[2017-10-27 15:56] budparr opened #65 "Use the new Related Feature"

[2017-10-27 15:56] budparr opened #66 "Make better use of $.Param"

[2017-10-31 07:59] DeveloperDavo opened #68 "Parmeterize number of recent posts."
Hello,

I think it would be nice to parameterize the number of recent posts to display in `index.html` instead of hardcoding to `3` in `{{ range (first 3 $section) }}`. Something like:
[code]
in `config.toml` to replace `3` in `index.html`.

Let me know if you would like me to submit a pull request for this.

Thanks,

David

[2017-10-31 12:29] budparr commented on #68
Sure, that's a great idea. PR is welcome!

[2017-11-06 20:08] martin-weber opened #70 "linkedin icon is almost invisible on dark background"
Is it possible to invert the linkedin icon, so that it is visible like the other icons on dark backgrounds?

[2017-11-06 21:10] budparr commented on #70
Hey, @martin-weber Can you put up a screenshot, or point me to a website? I think I have a good solution for this.

[2017-11-06 22:14] martin-weber commented on #70
The background is an image of a skyline at night.

This is the screenshot without hover:
<img width="521" alt="bildschirmfoto 2017-11-06 um 23 11 31" src="https://user-images.githubusercontent.com/14039505/32466658-fa19cc12-c347-11e7-8305-7501b04fac3c.png">

This is the screenshot with mouse hover.
<img width="498" alt="bildschirmfoto 2017-11-06 um 23 11 57" src="https://user-images.githubusercont

[2017-11-06 22:17] martin-weber commented on #70
What I've seen as well is that the _social-icons.css file does not contain linkedin-class in the first line.

`.facebook, .twitter, .instagram, .youtube, .github {
  fill: #BABABA;
}`

[2017-11-06 22:18] budparr commented on #70
Yeah, sorry about that. The linkedin came through in a PR and I guess I wasn't thorough in my review. I'm going to see if I can fix it up right now.

[2017-11-06 22:19] martin-weber commented on #70
Thank you.
I like this template.

[2017-11-06 22:45] #70 closed

[2017-11-06 22:46] budparr commented on #70
Should be fixed now. Thanks for bringing it to my attention, @martin-weber

[2017-11-07 00:42] budparr opened #71 "Last Call for 2.0 Features."
I'm soon going to rewrite the theme to improve it based on user input and my own experiences.

The list of things to do/consider is here: https://github.com/budparr/gohugo-theme-ananke/projects/1

If you want a feature that's not already on the list, leave a note here in the comments.

Thanks

[2017-11-19 01:26] RicardoDanielGonzalez opened #72 "Comments"
Hi @budparr!
**First of all, many thanks for developing Ananke!**
I'm not a developer, just a pretty beginner with Hugo, and I was wondering if you are considering comments deployment in your theme. I've tried to figure out how reading Hugo's documentation, but I can't solve it.
Thanks again!
Best regards!

[2017-11-20 12:42] budparr commented on #72
Hey, @RicardoDanielGonzalez That shouldn't be a problem. Thanks for the suggestion.

[2017-11-25 21:23] illycz commented on #60
Is it possible to rev all assets within Hugo?
1. In HTML (images, fonts, files)
2. In CSS (bg images)

Thanks for clarification...

[2017-11-27 03:28] budparr commented on #60
Hey, @illycz I'm sorry, I don't understand what you're asking.

[2017-11-27 12:22] illycz commented on #60
Assets revisioning (hash edited assets for cache busting).

Thanks

[2017-11-27 17:58] budparr commented on #60
For that you might want to look at Netlify's Victor Hugo starter.

[2017-11-27 17:58] #60 closed

[2017-11-28 15:16] illycz commented on #60
I'm looking for solution which uses default Hugo structure because I want to use https://forestry.io/ for administration purpose. And they support only default install I think: https://forestry.io/docs/developing-with-hugo/asset-pipeline/

[2017-11-28 15:18] illycz commented on #60
Maybe something like this: https://www.hughgrigg.com/posts/gulp-asset-versioning-hugo-data-files/

[2017-11-28 15:24] budparr commented on #60
Maybe. Forestry has a Slack and I'd bet you get some info from the team there.

[2017-12-27 05:38] xieydd opened #73 "Why i open it like this ..."
Why i can`t see the description values , and when i change my browser,the end of the page became the middle of the page??

[2018-01-01 02:52] CreatCodeBuild opened #74 "How to create `about` page or any other pages."
In hugo site, the demo pic shows `About` and `Articles` pages.

How to do that? Can I create arbitrary number of pages with arbitrary names? I am 100% new to `Hugo`. Is this a theme specific question or a Hugo question?

[2018-01-01 18:20] budparr commented on #74
Hi @CreatCodeBuild

yes

It is a Hugo question and you'll have more luck on the [forums](https://discourse.gohugo.io/)

[2018-01-01 18:20] #74 closed

[2018-01-06 02:08] budparr opened #75 "Make text color editable/configurable"
For instance, this line has a coded text color and it should be either inherited or configurable
https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/post/single.html#L21

n.b. https://discourse.gohugo.io/t/change-text-color-in-ananke/9740/3

[2018-01-15 03:48] budparr opened #77 "Change featured images to play nice with meta data"
Right now the featured image is a string, but Hugo's [embedded templates](https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/template_embedded.go#L158) look for an array.

[2018-01-16 04:51] denmch commented on #75
Would something like this be acceptable?

    {{ .Site.Params.text_color | default "mid-gray" }}

Where config.toml has something like this?

    [params]
        text_color = "black"

If so, (1) what would be the best name for the parameter, and (2) would a pull request require anything in addition, like documentation? The value of the `text_color` param would be a Tachyons text color class.

Or

[2018-01-17 13:16] budparr commented on #75
This is good: `{{ .Site.Params.text_color | default "mid-gray" }}`

This is better, because the parameter can be set globally or on a given page:

`{{ $.Param "text_color" | default "mid-gray" }}`

I've thought about making this more general (allowing more parameters to be set there, but probably simplest to stick with color.

Thanks for bringing up documentation. I think it's best to keep things

[2018-01-17 14:19] denmch commented on #75
That is better. I just noticed this is marked milestone 2. Are you you planning to put this into a batch, or is this something you’d accept a pull request for? I want to be helpful and not step on your toes. Thanks!

[2018-01-17 14:20] budparr commented on #75
Definitely happy to have a PR! I am working on [2.0](https://github.com/budparr/gohugo-theme-ananke/projects/1) but no reason for this to wait.

[2018-01-20 07:46] denmch commented on #75
I had issues with the code breaking on quotes while using that within the class list (unless I switched the outer quotes to single quotes), so I pulled it out into a `with` statement like this:

[code]

Does that work for you, or is there a better way?

[2018-01-20 21:22] budparr commented on #75
Hey, @denmch I'm a big fan of the `with` statement, but something seems off. Can you send (or point me to) an example of that content?

_note to self: and a good reminder to dust off those content unit-tests I've been meaning to use on this_

[2018-01-24 14:08] redapemusic35 commented on #72
I love this theme. I have just started using this theme and I am really happy with the results of my webpage. I was wondering though if you have added the ability to add comments? I am a novice so please forgive me if you have already.

[2018-01-30 19:16] barthac opened #79 "Figure size"
Hi,
Does ananke impose a width on all figures and if so, is there a way to override this? I tried using
{{< figure src="/images/furnace.jpg" width="500px">}} within one of the .md files.
But this doesn't change the figure size.

I also tried just saving the figures as a smaller size, but hugo just enlarges them to keep them the same size (just lower resolution).

Please advise how I can change the

[2018-01-30 19:54] budparr commented on #79
Hi @barthac I believe we're just using the Hugo internal shortcode for this, so I'd probably do a search over there: https://github.com/gohugoio/hugo

[2018-02-03 20:01] barthac opened #80 "image alignment"
Hi,
When including two figures in a page, is there a way to get them to appear side by side instead of sequentially? It is my understanding from reading the main hugo pages that this should happen naturally if the lines are written with no space between them:

![screen shot 2018-02-03 at 3 17 38 pm](https://user-images.githubusercontent.com/21955716/35771126-a5afc228-08f5-11e8-84da-5dd89218b58a.pn

[2018-02-04 12:29] Tim-Butterfield opened #81 "Site logo"
It would be nice to include support for a site logo image parameter.  One possibility might be a modification to the BaseURL link in site-navigation.html like this:

[code]

[2018-02-04 21:22] innomadic opened #82 "Configuring Menu Items"
I imagine this is a general question for Hugo and not just for this theme, but I am trying out Hugo for the first time and am trying to use this theme.  In the demo page I see "About" "Articles" "Contact" but I don't have any menus like that in my site.  How do I configure them?  I have created a section or two, but they don't seem to show on the main index page of my site.  Where can I configure

[2018-02-05 00:28] budparr commented on #81
I'm going to do some work on the theme this week and this shouldn't be too hard to add. Thanks, @Tim-Butterfield

[2018-02-05 00:29] budparr commented on #80
This is more of an HTML question, but you could give them a style of `display: inline-block`

[2018-02-05 00:29] #80 closed

[2018-02-05 00:40] budparr commented on #82
Have a look at the docs on menus: This is what I use on the demo: https://gohugo.io/templates/menu-templates/#section-menu-for-lazy-bloggers

and this is the primary doc on creating menus in your content:
 https://gohugo.io/content-management/menus/

Otherwise, yeah, you'll probably get a lot of responses/help in the forums.
Hope that helps!

[2018-02-05 00:40] #82 closed

[2018-02-09 04:30] rcoh opened #84 "Interest in new features?"
Hello! I've been using this theme on my personal blog, https://rcoh.me and it's been great. Along the way I've added some features that I'm happy to bring upstream of you're interested:
* Google Analytics events triggered by social link clicks
* Improved "recent posts" sidebar that shows posts with the same tags
* MathJax support for posts

[2018-02-09 10:13] innomadic commented on #82
Thank you, I think I have it working now.

From: Bud Parr <notifications@github.com>
Reply-To: budparr/gohugo-theme-ananke <reply@reply.github.com>
Date: Monday, February 5, 2018 at 3:40 AM
To: budparr/gohugo-theme-ananke <gohugo-theme-ananke@noreply.github.com>
Cc: innomadic <nick@innomadic.com>, Author <author@noreply.github.com>
Subject: Re: [budparr/gohugo-theme-ananke] Configuring Menu Items

[2018-02-09 13:18] budparr commented on #84
Hey, @rcoh I'm definitely interested. Here are some specific thoughts and I welcome yours. One goal to keep in mind (something that I've learned doing a theme) is to not make things too complicated or specific.

- Google Analytics. I'm not very satisfied with the internal Hugo GA, but was considering leaving it as a simple-base case. I think the best thing to do would be to make it simpler to swap

[2018-02-09 15:30] rcoh commented on #84
* it uses the stock ga template, but invokes an onClick function in the
social outgoing links
* Yeah I remember doing a bunch of work to get the sidebar a good width. It
was pretty hacky so I'll let you do that right but I'll send you the new
partial for content
* Yeah it can be opt in. It's a JS lib that loads in the footer + some
custom JS and css that make it work with Hugo / Markdown. Easy to

[2018-02-23 14:25] piever opened #85 "Display date"
Thanks for developing the theme, I find it very nice and functional.

I only have one small gripe: the them does not display the dates of blog posts. In the [demo](https://gohugo-ananke-theme-demo.netlify.com/) there seems to be the same issue: even though the markdown files have the date information, it is not displayed.

Is there some setting I can tweak to show the date on the blog posts?

[2018-02-23 14:35] piever commented on #38
Not sure if this can be streamlined, but the following worked for me.

1) Add this code snippet in the "partials":

[code]

2) Add `markup: mmark` at the beginning of the post:

[code]

3) Enclose equations in dollars:

`$$\varphi = \frac{1}{\varphi-1}$$`

Example is from [here](https://piever.github.io/simpleblog/posts/julia_chapter2/), code [here](https://github.com/piever/simpleblog/blob/master

[2018-02-23 15:05] budparr commented on #85
Hi @piever Do you mean aside from these places?

<img width="423" alt="screen shot 2018-02-23 at 10 05 00 am" src="https://user-images.githubusercontent.com/115347/36600720-0f6361d0-1881-11e8-8689-415a107f7410.png">
<img width="289" alt="screen shot 2018-02-23 at 10 04 52 am" src="https://user-images.githubusercontent.com/115347/36600721-0f74eb26-1881-11e8-8be3-8dd0907e2e73.png">

[2018-02-23 16:45] piever commented on #85
Ups, hadn't noticed it there. Then I must be doing something wrong, as I can't visualize it in my blog, but the beginning of my markdown file has a date. [Here](https://piever.github.io/simpleblog/posts/juliadb/) is a sample post (date doesn't show) and [here](https://github.com/piever/simpleblog/blob/master/content/posts/juliaDB.md) is the corresponding markdown. I'm on the latest commit of this

[2018-02-23 16:53] budparr commented on #85
Can you point me to your repo?

[2018-02-23 16:57] piever commented on #85
Thanks a lot! Here is the repo:

https://github.com/piever/simpleblog

[2018-02-23 17:12] budparr opened #86 "Make date handling more flexible for non "post" content"
Currently, dates are only show on article pages for content in the `post` directory. Some people don't want to use that file structure for posts, but still consider them posts. We need to make this more flexible.

As brought up in #85

[2018-02-23 17:13] budparr commented on #85
Hey, @piever so it's not a bug. The date is set for posts, but not for other article types, which means any entries in the `post` directory (it's generally suggested to use singular folder names in content) will have a date, and others will not.

I will consider some way to make that more flexible (i've begun work on updating the theme), but in the meantime, you can either copy `themes/ananke/layo

[2018-02-23 17:13] #85 closed

[2018-02-23 20:53] piever commented on #85
Wow, removing the "s" folder from the `posts` folder (it's now called `post`) fixed it, thanks a lot!

Not sure if there's any need to change this, but it's probably worth a mention in the README as the result of googling "ananke hugo date not displayed" was [this tutorial](https://code.luasoftware.com/tutorials/hugo/how-to-use-hugo/#deployment) where the put posts in the `posts` folder and then s

[2018-02-23 21:00] budparr commented on #85
Good idea, thanks. And had that person bothered to dig a little deeper, as you did, before claiming the theme was just bad in a public forum, we'd all be better off.

[2018-02-24 15:41] mt-inside commented on #36
Hey, I found this issue when trying to have no featured_image on the site home page. As of today (ananke d5b87cb), the front page (layouts/partials/site-header.html) *does* take its image from params.featured_image in the root config.toml. Note that if you want to turn that image off, "false" is the only zero-value I found - "", nil, 0, etc all give the default image. hth

[2018-03-04 08:41] willwade opened #88 "option for mp4 for featured_image"
ie https://css-tricks.com/should-i-use-a-video-as-a-background/

[2018-03-04 08:43] willwade commented on #62
i would argue this isn't needed now that netlify have snippet injection. https://www.netlify.com/docs/inject-analytics-snippets/ )

[2018-03-04 15:48] budparr commented on #88
Hey, @willwade I think this is something that, having done that sort of thing, is edge-case enough that it would be easier just for a user to duplicate the hero template into their layouts folder to accomplish that. I need to keep the scope of this theme, in particular, focused, because the Hugo site sends possibly new users here.

[2018-03-04 15:50] budparr commented on #62
Netlify headers actually accomplish something different than that. They allow you to cache and/or preload assets, which, arguably, you can do in the head as well (at least pre-load), but I haven't decided yet. Probably won't do this anyway.

[2018-03-04 15:50] willwade commented on #88
Yeah. That’s totally fair enough. (I’m partially popping it here in case
anyone had done what you’ve said so I can copy and paste! Ie. I’m being
lazy! ). Thanks for the great theme :)

On Sun, 4 Mar 2018 at 15:48, Bud Parr <notifications@github.com> wrote:

[2018-03-06 13:50] willwade opened #89 "Header menu - weighting of different pages"
Is there a way (maybe via frontmatter) of changing the order of the menu items rather than being alphabetic?

[2018-03-06 14:48] budparr commented on #89
Yeah, it's actually pretty easy. Hugo's organizing principle is `weight` first, and then, I believe, in absence of weight, use alpha.

So, to rearrange the menu, you'd first want to

- [ ] Remove `SectionPagesMenu = "main"` from your config, if it's there.
- [ ] Create a new menu either in config or in your pages (this is pretty simple, but check the docs), including the weight parameter. Make sur

[2018-03-08 10:01] willwade commented on #89
Got you. The bit in the docs for anyone else following this: https://gohugo.io/content-management/menus/#add-non-content-entries-to-a-menu

[2018-03-11 16:49] Allen616 opened #90 "Unable to change hero image"
So sorry to bother you. Without any success I have been trying to trouble shoot why I am unable to change the hero image on my deployment.

 [My repo with ananke](https://github.com/citizenlabsgr/homepage-v2)

At most I get a dark grey background instead of the hero image with the gargoyle. I have made changes to config.toml and featured image for content/_index.md without any luck.

Thank you ver

[2018-03-11 21:41] budparr commented on #90
Hey, @Allen616 It looks like they image you put in your front matter is:
`hero-light-festival.jpg'
and the image you put in your images directory is:
`hero-light-festival.jpeg`

Note the difference in extension.

Cheers!

[2018-03-11 21:41] #90 closed

[2018-03-12 01:46] Allen616 commented on #90
Many thanks. Apologies for the simple error.

[2018-03-17 23:56] LyzardKing opened #91 "body width"
Hi!
I'm using this theme to build a website, and I have an issue with the body width.
If in the page I only have a google form embedded, with the width set to 100% it'll show up very thin and centered.
I'm having the same issue with https://github.com/liwenyip/hugo-easy-gallery
If there's something with a fixed dimension in the page it works, otherwise it's not even visible

[2018-03-18 00:03] LyzardKing commented on #91
It's fixed (sort of...) if I remove "flex-l" from layouts/_default/single.html, from:
`<div class="flex-l mt2 mw8 center">`

[2018-03-18 14:19] budparr commented on #91
Hi @LyzardKing I think you got it right. I'm revisiting the templates soon and will keep that issue in mind. Thanks!

[2018-03-18 14:19] #91 closed

[2018-03-18 19:59] budparr commented on #91
It's a node_module that's imported when I build the CSS file. You can see the docs here: http://tachyons.io/docs/layout/flexbox/

The other issue `mw8` which puts a max-width on the body. You can remove that, too.

[2018-03-22 16:49] paskal opened #92 "Set default for params.recent_posts_number"
$subj, without setting this variable no posts shown on main page.

[2018-03-22 18:53] budparr commented on #92
Hi. @paskal I'll look at this this evening. Thanks!

[2018-03-23 13:22] budparr commented on #92
Hi @paskal This appears to be set: `{{ $n_posts := $.Param "recent_posts_number" | default 3 }}`

https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/index.html#L23

Let me know if I'm looking at the something other than what you're referring to.

[2018-03-23 13:32] paskal commented on #92
You're right, my bad! I guess I was looking in some wrong place during the test.
Soon I'll post a highlight of a few blogging hugo themes and your is included, I'll notify you when it will be published. Thanks for the great theme!

[2018-03-23 13:32] #92 closed

[2018-03-23 13:41] budparr commented on #92
No worries. Thanks very much - looking forward to seeing that.

[2018-03-23 20:03] RyanTG opened #93 "Deployment question - content loading, but not scripts or css"
Sorry, this is such a basic question. I've used Hugo just fine on another site. But I'm having trouble with this theme.

Can you just verify that I'm deploying this correctly? I know this is hugo 101...

[code]

When loading the website, nothing is fetched aside from the content (like, no js or css). And the content takes a good minute to load.

Perhaps something is wrong with my server...

[2018-03-23 20:07] budparr commented on #93
It looks like you have two different things there. First your running Hugo, then you're adding your site to a git repository. Those two processes are separate. So before you run Hugo, set up your repo (as you've done with your git commands), then you have to download the theme, so if you haven't done that:

`git clone https://github.com/budparr/gohugo-theme-ananke.git themes/gohugo-theme-ananke`

[2018-03-23 20:15] RyanTG commented on #93
I have the theme downloaded, and it's working beautifully on my local.

I removed the .git folder from the theme, so I don't have to worry about submodules.

Does the running part look like the correct command to use the theme?

I've modified the theme (and moved those edited files out of the theme and into partials.

[2018-03-23 20:27] budparr commented on #93
What are using for deployment? Are you building locally and sending the files somewhere, or is a continuous integration service building for you? If you're building locally it looks like that command should work (you can also put it in your config).

[2018-03-23 21:19] RyanTG commented on #93
I'm building locally, and then sending the files.

I just ran `npm run build:production` thinking that might be needed to build the src files, since the network monitor is showing that `main.css` and `app.bundle.js` aren't loading. But then again, those two files were already in /public/ - plus, I can access them directly on the website. Dunno why they won't load!

This smells like a server issue

[2018-03-23 23:24] RyanTG commented on #93
Thank you. I resolved it. I had `https` in the config, but server was only listening for `http`.

Blah! :)

[2018-03-23 23:24] #93 closed

[2018-03-23 23:30] budparr commented on #93
It's always something small like that. Happens to me all the time. By the way, you might want to check out some of the deployment options like Netlify. They really do all the work for you and have  a generous free tier.

[2018-03-24 11:00] paskal commented on #92
I'm not sure github sent notifications to mentioned authors, so posting double there: theme highlight is out, this very theme is in it, additional info on https://github.com/paskal/terrty/issues/1.

[2018-03-31 08:17] Avizini commented on #72
@redapemusic35 Afaik No, currently there is no option to add comments but you can embed disqus or any other system if you want. Staticman is another option, if you are unable to do it then ping me I'll guide you through this.

[2018-04-02 13:16] budparr commented on #72
I'm thinking of using Staticman, though I'm not sure if there are too many moving parts to that to package as a theme. My problem with DISQUS is that there are privacy issues. Perhaps if I include some instructions on setting up DISQUS yourselves. It would not be hard, I don't think.

[2018-04-09 03:16] Avizini commented on #72
@redapemusic35 I am not sharing exact instructions, nor I have a system to test this. So you might have to do some work yourself.

First goto Disqus and make an account, follow their instructions. Then they will ask you for the cms you are using, you will see an option saying universal code.

Yeah, copy that and keep it. Now open your theme, there you will see partials go there and search every fi

[2018-04-09 03:39] Avizini commented on #72
Here you go, I have not worked with themes since months so I don't know if this will work. Go to layouts/_default/single.html and stay there.

Now open disqus account and follow their instructions, when they ask you to chose a cms (wordpress,etc..) . there chose universal code and copy it somewhere, now close that tab and back to theme folder.

[code]

Below </div> paste your code and look at the

[2018-04-09 16:36] budparr commented on #72
Okay everyone, you can now add comments by adding your `disqusShortname` to your config file.

[2018-04-09 16:36] #72 closed

[2018-04-09 16:37] budparr commented on #42
This is now added. Thanks!

[2018-04-09 16:37] #42 closed

[2018-04-09 16:37] #58 closed

[2018-04-09 16:37] #65 closed

[2018-04-09 16:37] #71 closed

[2018-04-09 16:38] #37 closed

[2018-04-09 16:38] #39 closed

[2018-04-09 16:40] budparr commented on #84
Hey, @rcoh I've added some changes, including a recent posts sidebar (using Hugo's native related content) and fixed the flex item. I don't think this will break any of your changes since I imagine you made them in your root layout folder, but if not, you may want to test first.

I'm going to close this for now. Always happy to have new ideas/PRs.

Thanks!

[2018-04-09 16:40] #84 closed

[2018-04-09 16:41] #88 closed

[2018-04-09 16:41] #89 closed

[2018-04-09 16:42] budparr commented on #86
Fixed in fa3dcbf5358c14fd8f8dcf5a39e43ae0062944ea

[2018-04-09 16:42] #86 closed

[2018-04-09 16:42] #79 closed

[2018-04-09 16:43] #73 closed

[2018-04-09 16:43] #44 closed

[2018-04-09 16:43] budparr commented on #35
Updated to 4.9.1 Thanks!

[2018-04-09 16:43] #35 closed

[2018-04-09 16:44] #63 closed

[2018-04-10 12:24] kaushalmodi opened #95 "Remove theme directory name hard-coding"
This issue was brought up in https://github.com/gohugoio/hugoDocs/pull/443.

Technically, any theme can be cloned to any directory name. Dependency on the original theme name could break some functionality as evident in that PR.

I understand the reason why readDir and hardcoded dir name is used in this instance.

Though, it should be possible to avoid that.

/cc @BrianH2

[2018-04-10 12:34] budparr commented on #95
@kaushalmodi Did you say you have a solution? I'm all ears 👂

[2018-04-10 22:35] #95 closed

[2018-04-10 22:40] budparr commented on #95
Thanks for your help, @kaushalmodi I figured out a similar solution using Webpack. I appreciate you pointing me in the right direction.

[2018-04-10 22:44] kaushalmodi commented on #95
Webpack is still alien to me, though I see that that is automating that .json file generation, very cool! Glad I could help :)

[2018-04-10 22:44] budparr commented on #95
Webpack will solve "all" of your problems :)

[2018-04-14 16:08] anddongyangli opened #97 "Hugo fails to load CSS and Javascript files without baseURL"
Hugo fails to load the assets in debug mode when the `baseURL` is set to something like `"https://example.com/hugo/"`. A 404 page appears when accessing the css or Javascript file directly via the web browser.

We might want to set absolute URLs for these assets based on the configured `baseURL`.

Thanks.

[2018-04-14 16:56] budparr commented on #97
Thanks for pointing this out, @anddongyangli I'll check it out.

[2018-04-14 18:12] #97 closed

[2018-04-14 23:54] ag4ve opened #98 "add custom_css parameter"
There doesn't seem to be a way to put additional css files in. This was done here:
https://github.com/parsiya/Hugo-Octopress/commit/8268015c926f10e881701426b6dd81b1140f5730
and the same could be added to layouts/_default/baseof.html

[2018-04-15 12:36] anddongyangli commented on #97
@budparr  Thanks for addressing this issue.

This issue still exists if the baseURL contains a non-root context path.
For example,  set the `baseURL` in  the configuration file like this:
[code]

Starting hugo server in debug mode, the following code
[code]
will be compiled to
[code]
instead of
[code]

I tried with the following code, it works fine.

[code]

[2018-04-19 06:29] abh opened #99 "Add ability to easily disable featured image"
The documentation says:

However, since change 7b5196ad18b65ead0ec3157d28aaf3a0b02b0a30 that isn't true. There'll always be a hero image. Outside for the demo I don't the gohugo default sample image makes any sense. For the exampleSite it's defined in the config, so I'd suggest reverting the referenced change.

[2018-04-23 04:23] jhr2267 opened #100 "featured_image size"
Excuse me if this is a noob question, but how do I change the size of the feature_image that is displayed?  Mine is cropped from the bottom so that it is significantly narrower than this example [https://gohugo-ananke-theme-demo.netlify.com/ ](url)

Which files should I change?  Perhaps the image size could be made into an easy to change variable.

[2018-04-24 09:57] ag4ve commented on #98
https://github.com/budparr/gohugo-theme-ananke/pull/101

[2018-04-24 12:49] budparr commented on #98
Fixed in #101

[2018-04-24 12:49] #98 closed

[2018-04-24 22:12] renich opened #102 "Add google+ to social icons"
Please!

[2018-04-29 13:57] SamirTalwar commented on #99
If you set `featured_image = false`, it won't be defaulted.

This took me a while to figure out. It'd be nice to include it in the documentation.

[2018-05-02 17:44] anthonyfok commented on #97
Thanks @anddongyangli!  But the fix is simpler: simply removing the leading slash, i.e. changing "/dist/" to "dist/" would do the trick because absURL already takes the baseURL into consideration when it sees a relative path.

On second thought, maybe relURL would work just as well.

[2018-05-04 22:32] JonathanDoughty opened #104 "custom_css"
The support for defining a param like custom_css = "site.css" in config.toml does not seem to work as I expected. Replacing baseof.html's

[code]

with
[code]
seems to work better for me. Maybe an example as part of exampleSite content for those who want to tweak things a bit?

[2018-05-05 02:36] JonathanDoughty commented on #104
My goof - helps to read the documentation.

[2018-05-05 02:36] #104 closed

[2018-05-13 16:11] MayaGans opened #105 "Change Grid Width?"
I'm creating my first website and love this theme as a learning tool, but I'm struggling to find where in the style sheet to change the grid width. Specifically, I'd like to have the blog article column wider (so code chunks fit on the page) and the 'related' column a bit narrower. I see there's a way on the tachyon's website [to change the grid width](http://tachyons.io/docs/layout/grid/) but I'm

[2018-05-14 12:32] budparr commented on #105
Hi, @MayaGans  You can change the CSS in the src directory, just writing a class to override what you want: https://github.com/budparr/gohugo-theme-ananke/tree/master/src Thanks!

[2018-05-14 12:32] #105 closed

[2018-05-14 15:17] Allen616 opened #106 "Not all config settings included in website build"
My Google Analytics info provided in my config file is not included in my local or deployed build. I have checked your instructions and that on Hugo.io. It all appears to be consistent.

`title = "Citizen Labs"`
`baseURL = "https://citizenlabs.org"`
`languageCode = "en-us"`
`theme = "ananke"`
`publishDir = "public"`
`MetaDataFormat = "yaml"`
`DefaultContentLanguage = "en"`
`Paginate = 3`
`googleAn

[2018-05-14 17:31] Allen616 commented on #106
Here is a link to our Repo: https://github.com/citizenlabsgr/homepage

[2018-05-14 17:52] Allen616 commented on #106
Or could it be that there is a typo in `baseof.html` ?

Pls, see. https://github.com/gohugoio/hugo/commit/06e90b1237cc29fa17be96d13bf9d0428e65e2a8

[2018-05-14 19:14] budparr commented on #106
Hi @Allen616 To see the Google Analytics, you need to run your site in production mode. Add this: `HUGO_ENV=production` before your build command. I'll add that to the Readme.

Let me know if that works. And if you want to give me some specifics about the other things you are missing, you can post them here.

[2018-05-17 13:13] LimitedEdition1 commented on #102
G+ and other icons can be done with iconmonstr.  https://iconmonstr.com/
You can generate your own svg icon files.  Search for the icon name, choose the SVG option, and choose the EMBED button and copy what you need to a new file. Or copy an existing social.svg file from the theme  and edit to replace the path info.

To get the new icon(s) to work:
1. Make a  /layouts/partials folder and copy the

[2018-05-17 13:37] budparr commented on #102
Hey, @LimitedEdition1 That's very helpful. I'd love to do a wider set of icons, it's usually a pain to get them consistent.  I'll check this out. It might just be the thing we need.

[2018-05-23 09:00] boydkelly opened #108 "Multilingual support"
Will this be coming one day?  It would be awesome addition.  Thanks.

[2018-05-27 05:18] wuxinvip opened #109 "tag list"
![20180527131653](https://user-images.githubusercontent.com/20430852/40582682-3fbf8cbe-61b0-11e8-9376-14106b56e692.png)

how i want a tag list

[2018-05-28 22:10] budparr commented on #109
Unfortunately, I don't have time to help you out writing the code, but the forums are a great place: https://discourse.gohugo.io/

[2018-05-28 22:10] #109 closed

[2018-05-29 05:53] wuxinvip opened #110 "123"
123

[2018-05-29 05:53] wuxinvip commented on #110
ok

[2018-05-29 05:53] #110 closed

[2018-06-11 23:02] jenniferthompson opened #111 "Alignment change in new version?"
Hello, and thank you so much for the theme - I am loving it for my site! I've run into an alignment issue when updating to the latest version, and am not sure how to fix it. I have searched for ideas, but I'm not a developer and I'm very new to CSS, so my apologies if this is a basic question or is covered elsewhere!

I originally built my site just prior to the last Ananke update, and recently up

[2018-06-11 23:42] budparr commented on #111
Hi @jenniferthompson Did you change your content at all. It looks like the resources page had previously used the[ page layout](https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/page/single.html) and now it's using the default layout. If you haven't changed anything, I'm wondering if your local builds for the old version are having the issue (that is, I'm wondering if something ch

[2018-06-11 23:57] jenniferthompson commented on #111
Thanks for the quick response @budparr!

I added a static/slides/ directory and some bullet points to the Resources page; I realized I needed to update the theme when the site wouldn’t build after those edits. No other changes to the content or file structure before seeing the alignment issue. However, with the update, it was also not correctly creating the Resources page as it used to, so I added

[2018-06-12 00:39] budparr commented on #111
Perhaps you can send me the link to your repo, and I'll have a look

[2018-06-12 02:59] jenniferthompson commented on #111
I realized that I had accidentally pushed `resources/_index.html` to the repo (oops!); removing that took care of the Resources page not being included in the site menus, so the only issue I'm having is the alignment. Here are the relevant links:

- Staging site: This is the one which reflects the updated version of Ananke, as well as the alignment issues.
    - Repo: [/webstage](https://github.co

[2018-06-12 12:52] budparr commented on #111
Try removing `tc-l` from this line: https://github.com/jenniferthompson/webstage/blob/master/themes/gohugo-theme-ananke/layouts/_default/list.html#L3

I can't do it for you, because you're not using a submodule, but if you let me know if that works I can change it on my master too. I don't recall why that class is there.

[2018-06-12 14:51] jenniferthompson commented on #111
Yes, that seems to have done it! Thank you!!

[link to updated Resources page](https://infallible-chandrasekhar-02d52e.netlify.com/resources/)

[2018-06-12 19:43] MicZet opened #112 "Twitter featured images support"
Hello
first of all - thanks for great work!

I have a question - when i share urls for my posts on Twitter - there is no featured image included - only generic empty template (Opengraph is responsible)?
is it supported in the theme?

all best,
Michael

[2018-06-13 01:41] budparr commented on #112
Hi, @MicZet We are using Hugo's built-ins for open graph and other social networks. They will pick up any posts with an `images` front matter. Keep in mind, they have to be an array, so in your front matter, for example,

[code]

[2018-06-13 01:41] #112 closed

[2018-06-14 23:45] jenniferthompson commented on #112
Hello! I've tried to follow the example above to get Twitter cards working, but the Twitter card validator is giving me errors due (it says) to robots.txt.

<img width="978" alt="screen shot 2018-06-14 at 6 39 05 pm" src="https://user-images.githubusercontent.com/7783352/41443471-b11b9956-7002-11e8-8bed-f540fd59812e.png">

My front matter currently looks like this, per the instructions above:

[co

[2018-06-15 04:00] MayaGans opened #113 "Adding Author to Blog Posts"
Hi! I was wondering if it'd be possible to add the blog post author to the top of each post page, possibly automating this? [I found a blog post related to this](https://discourse.gohugo.io/t/how-to-access-site-params-map-with-a-params-variable/348), but because I'm a total n00b I'm not sure how to go about implementing it within the theme or where to add this script within the css. Any tips helpf

[2018-06-19 14:36] budparr commented on #113
Hi @MayaGans You'd want to duplicate this template: https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/_default/single.html into your root layouts directory (so it would be like `/layouts/_default/single.html` instead of `/gohugo-theme-ananke/blob/master/layouts/_default/single.html` and add the code there. Unfortunately, I don't have time to help you with the actual code, but it's

[2018-06-19 14:36] #113 closed

[2018-07-03 00:28] rshillington commented on #79
@barthac i realize it's been a while since your initial question but I'm running into the same issue and I'm wondering if you did get a solution.  I'm trying to get images with text that flows around but no luck.

[2018-07-03 12:22] budparr commented on #79
You can use Hugo's [shortcode](https://gohugo.io/content-management/shortcodes/#use-hugo-s-built-in-shortcodes) and add a class to it:

The class `fl` should already work in an Ananke site:

[code]
Tachyons offers some width and margin classes that should be available to you as well.

[2018-07-03 12:22] #111 closed

[2018-07-05 01:58] buddha314 opened #114 "Add some basic configurations to the examples"
In looking through the theme, here are a few things I don't yet know how to do.  Keep in mind that I am very new to static web site builders, so what is obvious to others may not be to me.

1. Add an "Author" and a date to a post
1. Add an "email" to the footer.
1. Add the smaller image next to the post title like in your example.  Where does that go?
1. Add the navigation, About, Authors, etc to

[2018-07-08 20:53] daniele-athome opened #115 "Zero article padding in mobile mode"
In Firefox 59 and Chrome (Opera 52) in mobile mode (just resize the window to a mobile width), the `<article>` section has no padding at all. As you might already know, this has impacts on people focusing on the content. Since I'm no publishing expert I don't know the exact padding to use, but if you tell me how much, I can create a pull request for the CSS.

Branch: master (89c26174a48f786f728c57

[2018-07-08 23:05] #115 closed

[2018-07-08 23:06] budparr commented on #115
Not sure how this slipped by, but thank you for pointing it out, @daniele-athome.

[2018-07-12 15:36] danielsoutar commented on #99
Wait, so you can't have the featured_image as anything else??

[2018-07-17 09:57] dingesista opened #116 "description field in _index.md or config.toml (override?)"
Hello there!

Experimenting with this template, I notice that setting the description in the config.toml does not give the expected result. However, copying _index.md and setting it there does. Is that a bug?

[2018-07-18 02:14] budparr commented on #116
Hi, @dingesista Can you tell me where you expect the description to show up that it's not?

[2018-07-18 07:10] dingesista commented on #116
in the example  site the config.tom description = "The last theme you'll ever need. Maybe."

That is one of the lines of text on the image on the home page. Turns out, this setting is configured by changing the same line in _index.md in content/_index.md

[2018-07-18 13:31] budparr commented on #116
I can see where that would be confusing. The description in the sample config acts as a fallback description in meta tags for pages where there might not be a description that shows up otherwise. Here's an example: https://github.com/gohugoio/hugo/blob/9c1e82085eb07d5b4dcdacbe82d5bafd26e08631/tpl/tplimpl/embedded/templates/opengraph.html#L2

The description you are referring to is designed to come

[2018-07-18 13:34] #116 closed

[2018-07-18 13:34] dingesista commented on #116
Thanks!

[2018-07-18 18:57] Jimmy99 opened #117 "How to remove the "darkening" of the background image"
This issue is posted for information purposes.
I asked Bud about how to remove the "darkening" of the background image. Bud explained that it is necessary to remove the following line in the file site-header.html in the partials folder of layouts.
Just a word of caution, if your background image is mostly white, because the site title colour is white it might not look so good after making this edi

[2018-08-02 21:57] waroo opened #118 "Long urls or links extend beyond content and overlap sidebar"
If you have a really long url or link it will extend beyond the border for the main content instead of wrapping. If you have a sidebar it will overlap the sidebar content. As an example see the links at the bottom of the following page https://kitefaster.com/2017/05/22/create-today-widget-ios-app-swift/

It looks like the header and main tags are set to different widths in the CSS.

[2018-08-06 17:32] lukylab opened #119 "Adding custom element under the headline"
Hi,
The theme is great, thank you a lot, Bud! I just wonder if you could help me – I would like to add the custom element (a Facebook Messenger button) just under the headline on the main image (see attached mockup). Could you please advise if it is possible and how to do it?
Thank you,
Lukáš
![prago](https://user-images.githubusercontent.com/5338092/43731604-4eac0626-99af-11e8-9c32-be7f95391d19.p

[2018-08-07 01:56] budparr commented on #119
Hey, @lukylab - You can duplicate any template in your `layouts` directory and edit it there.

So, for https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/partials/site-header.html

you'd move it from: `themes/gohugo-theme-ananke/layouts/partials/site-header.html`

to: `layouts/partials/site-header.html`

[2018-08-07 18:50] lukylab commented on #119
Thank you, Bud!

[2018-08-10 06:56] vonloxley opened #121 "Left margin is lost between 960 and 1040 pixels width"
Chrome and Firefox / Ubuntu 18

[2018-08-11 22:12] FayeAlephNil opened #122 "Allow custom summaries"
It would be nice if the summary sections checked the page parameters to see if a custom summary was available to use.

[2018-08-11 22:14] FayeAlephNil opened #123 "Allow multiple sections to be listed under recent"
I'd like to have two sections listed under my home page just like the default "recent posts". Namely a "stories" and "posts" lists. If this would be implemented it would be great!

[2018-08-15 02:12] budparr commented on #123
Hey, @Strikingwolf You should be able to set those sections in your config, like this:

[code]

[2018-08-15 02:13] budparr commented on #122
I think summaries should pick up the `description` field.

[2018-08-15 02:14] budparr commented on #121
Hi @vonloxley Thanks for reporting. I'll check it out.

[2018-08-20 12:27] kr28 opened #125 "On the iPad there is no left margin in portret orientation"
On the iPhone the site looks good. Also, on the iPad in landscape orientation there is a left margin. I had hoped that the improved line on 'article padding' had solved this.

[2018-08-20 16:41] Allen616 opened #126 "Drop down menu items"
First off, thanks for a great template, documentation and your responsiveness to questions.

I am trying having difficulty creating drop down (?nested?) menu items for the main menu. For instance on my site [citizenlabs.org,](https://citizenlabs.org/about/) I would like to have a drop down menu from "About" that would go to our Code of Conduct, Sponsors, and Team.

Find the [github repo here.](htt

[2018-08-25 09:48] jan-xyz commented on #108
I would be interested as well, I'm looking in to this right now. I like that Ananke is really basic and not so bloated like the other themes especially the ones supporting multilingual content. All it needs for me right now is provide a language picker in the menu or side-bar.

I'm trying to figure out how themes and templates work. If you have good resources to look things up, I'd be happy to wri

[2018-08-25 11:06] jan-xyz commented on #108
I created a [fork](https://github.com/jan-xyz/gohugo-theme-ananke) of your repository and started looking deeper into the theme stuff and it worked :) I also have to row back on my statement that the documentation doesn't help. I mostly copied stuff from the documentation and adjusted it to fit the overall appearance of the theme. It's still WIP but I think it can be helpful for others looking int

[2018-08-26 17:19] rspencer01 commented on #123
I don't see how that helps.  The relevant lines in the code are

https://github.com/budparr/gohugo-theme-ananke/blob/8c1280c2a3f2fe9b7df4930cb77f48e27735bd21/layouts/index.html#L5-L21

and further.  It seems to pick the first one in the list (see the line `{{ $section_name := index (.Site.Params.mainSections) 0 }}` ) and performs no loops over all the sections.

[2018-08-30 04:59] nicelifeBS commented on #41
@budparr I tried those steps which you describe but the header just stays the same. Do I need to install the packages and run which are described here: https://github.com/budparr/gohugo-theme-ananke/blob/master/src/readme.md?

[2018-08-30 12:46] budparr commented on #41
Hey, @nicelifeBS The above should work without any further processing. Maybe @zzamboni can let us know what he changed.

[2018-08-31 11:40] hemanth7787 opened #127 "spread out footer icons"
https://github.com/budparr/gohugo-theme-ananke/blob/8c1280c2a3f2fe9b7df4930cb77f48e27735bd21/layouts/partials/site-footer.html#L2

![screenshot_20180831_165725](https://user-images.githubusercontent.com/2316704/44910160-d00f2b00-ad3f-11e8-8489-8d95d3be5bcc.png)

with ` justify-between` removed
![screenshot_20180831_165812](https://user-images.githubusercontent.com/2316704/44910164-d2718500-ad3f-11

[2018-08-31 16:19] zzamboni commented on #41
@nicelifeBS you can find the full source for [my website](http://zzamboni.org) at https://github.com/zzamboni/zzamboni.org/. The file I had to change to make the header shorter is https://github.com/zzamboni/zzamboni.org/blob/master/layouts/partials/site-header.html. You can compare it to the version from the theme (at https://github.com/zzamboni/zzamboni.org/tree/master/themes/gohugo-theme-ananke

[2018-08-31 22:40] #127 closed

[2018-08-31 22:42] budparr commented on #127
Thanks for pointing that out, @hemanth7787 That class was meant to be around the footer items themselves, so rather than removing it, I used a div to apply it correctly.

[2018-09-03 03:38] jasikpark opened #129 "How can I add MathJax support to my site using the Ananke theme?"
The Hugo documentation says to put
[code]
in a partial layout that will appear on every page that you need the mathjax, but I can't figure out how to make this repository a submodule and at the same time add mathjax support.

[2018-09-03 04:58] nicelifeBS commented on #41
Ah thank you guys. Was my mistake. I was looking in page-header.html and not site-header-html. All good here.

[2018-09-03 15:43] budparr commented on #129
Hey, @jasikpark You can duplicate this file into the root layouts folder of your project and add the script there. https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/partials/site-scripts.html

[2018-09-03 15:43] #129 closed

[2018-09-03 15:44] jasikpark commented on #129
You mean put it in /layouts? Thanks!

-- 
Caleb Jasik
calebjasik@jasik.xyz
https://jasik.xyz
281.614.9841

On September 3, 2018 at 10:43:44 AM, Bud Parr (notifications@github.com) wrote:

Closed #129.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-03 15:45] budparr commented on #129
yep

[2018-09-03 15:46] budparr commented on #129
But it needs to be along the same path, so

current:
`/themes/gohugo-theme-ananke/layouts/partials/site-scripts.html`

new:

`/layouts/partials/site-scripts.html`

[2018-09-03 15:48] jasikpark commented on #129
ah, that's what I was wondering.

[2018-09-03 15:50] jasikpark commented on #129
[code]

[2018-09-08 11:47] jhenstridge commented on #102
Might it be possible to refactor the social icons as a Hugo menu?  That might make it easier to add new icons or reorder the existing ones.

[2018-09-10 15:49] blueyed opened #130 "Only include menu-contextual if non-empty"
I was confused about the white / blank space on the right for when there is no TOC / related pages.

Code: https://github.com/budparr/gohugo-theme-ananke/blob/7a32e28d4b239a279ba0415bd26f93f5ced5128c/layouts/_default/single.html#L34-L36

Is it possible to skip the `<aside>` block complete if it is empty / only contains whitespace?

[2018-09-10 15:59] blueyed commented on #130
There's also a CSS issue in this regard: below a width of 960px the aside appears to be below, but between 960-1020px the left and right padding is missing:

![2018-09-10-175716_1005x618_escrotum](https://user-images.githubusercontent.com/9766/45309122-46bbdd80-b523-11e8-83fb-7ba74026d2c9.png)

[2018-10-21 18:56] SeanTAllen commented on #122
I made changes in my usage of this to use the description field.

[2018-10-21 19:00] SeanTAllen commented on #99
I removed this in my overrides when using the theme. It struck me as very odd out of sync with the documentation. It appears that all I did was "revert" 7b5196ad18b65ead0ec3157d28aaf3a0b02b0a30.  Is there a desired fix for this?

[2018-10-21 19:02] SeanTAllen opened #135 "background_color_class only impact on header not footer"
The footer is hardcoded to `bg-near-black`. Is this intentional? It struck me as odd so I overrode it on my site. If this was unintentional, I'll happily open a PR to address.

[2018-10-22 19:44] astronomerforfun opened #136 "Limiting the summary using Rmarkdown"
Summary is too long for me.  Is there a way to use like ten words?

Great site by the way.  My first one and I enjoy it a bunch.

Regards,

cs

[2018-10-23 19:00] astronomerforfun opened #137 "Keeping .jpg with the .rmd file?"
Does anyone know how to keep the images in the post folder (along with .Rmd file)?  In the future if I migrate to another website for whatever reason I don't want to have to match up all my images with their respective folders.  Any help or hack would be great.  Thanks!

[2018-11-04 19:09] budparr commented on #137
Hey, @astronomerforfun See Page Bundles: https://gohugo.io/content-management/page-bundles/#readout

You'll probably get a faster response to questions like this at the forums. https://discourse.gohugo.io/

[2018-11-04 19:09] #137 closed

[2018-11-04 19:09] budparr commented on #136
You can make your own summary with `.Content | truncate n`

[2018-11-04 19:09] #136 closed

[2018-11-04 19:14] #135 closed

[2018-11-04 19:15] budparr commented on #135
Thanks, @SeanTAllen I added the global override that's in the header for this.

[2018-11-07 14:28] fdelorme opened #138 "Images as inline elements"
Hello,

Ananke makes all images take the whole width and be displayed as block elements. I can update width with CSS style properties, but this is not very satisfying (I'd rather have the image automatically be its correct size rather than do it by hand, as it is tedious and error-prone).

And anyway, is there a way to make them be inline elements ? I just need to put text next to an image, but co

[2018-12-19 10:03] zersiax opened #145 "SOcial Media links are not accessible"
Hi,

On your theme's description page it lists that you aim to be accessible. However, the links for social media do not have textualcontent, making screen readers unable to determine where they go. ARIA-describeby is used to indicate the link opens in a new window, but the actual location of the link is unknown.
I have fixed it for now by adding text to the a tags in social-follow.html, but am fu

[2018-12-19 17:08] zersiax commented on #145
I would keep the title of opens in a new window, and use aria-label for the actual function of the link. I think that will work best. If not, you might need to aria-hidden=true the icon itself, but I think just aria-label should suffice. Shoot me a test version and I'll compare.

[2019-01-04 21:27] ma10 opened #149 "single.html Produces Two Main Elements"
layouts/_default/single.html produces two main elements, but there should be only one visible main element in each page, [as the specification says.](https://www.w3.org/TR/html52/grouping-content.html#the-main-element)

With current single.html, the first main element starts before the section title, and the second starts before the content body.

IMO, from the accessibility point of view, the mai

[2019-01-06 15:18] budparr commented on #149
Thanks, @ma10 Maybe you can show me your repo. The theme itself doesn't duplicate the main element, as you can see in this screenshot.

![screen shot 2019-01-06 at 10 17 12 am](https://user-images.githubusercontent.com/115347/50737929-4d3e2700-119c-11e9-8532-7fc45f9a961a.jpg)

[2019-01-07 14:05] fu-sen opened #150 "The action destination of Formspree is no works (http to https)"
This problem requires modification of **README.md**.

[**README.md**](https://github.com/budparr/gohugo-theme-ananke/blob/master/README.md) :
[code]
This is simply Formspree disabling **http** communication.
I confirmed the improvement of the form by changing **http** to **https**.

[A Contact Form to Email Service | Formspree](https://formspree.io/)

[2019-01-07 18:42] ma10 commented on #149
Thanks for the response.
Though, please note that I can't tell what the screenshot shows as I'm blind.

Since I don't have it under git, I attach a few files here.

To reproduce the problem, I did:

1. `hugo new site sample`
2. Clone the ananke theme
3. Copy the config.toml from the examplesite and made minimum changes (see att
[config.toml.txt](https://github.com/budparr/gohugo-theme-ananke/files

[2019-01-08 00:40] budparr commented on #149
you're right. I fixed this and will have the release out shortly. Thanks!

[2019-01-08 00:40] #149 closed

[2019-01-08 00:42] #150 closed

[2019-01-08 00:42] budparr commented on #150
Thanks! Fixed. Will be in the next release.

[2019-01-08 00:48] #130 closed

[2019-01-08 00:49] budparr commented on #130
Hi @blueyed For the first issue, I believe that was my intent. That is, I would not want the line length to be really wide no matter what is on the page. I fixed the second issue and it's in the latest release. Thanks for your patience!

[2019-01-18 14:08] fu-sen opened #153 "Windows environment variables are not considered"
This command in the README is invalid when using hugo on Windows:
[code]
I set some environment variables on Windows, but I could not reflect it.

I analyzed the theme. As a result, I found this workaround:
**config.toml**
[code]
It may need to be added to the README.

[2019-01-19 00:52] budparr commented on #153
Thank you, @fu-sen Could you do a PR for the README change? Or, just give me the language to put in. I don't use Windows so don't want to mess it up.

[2019-01-19 01:00] fu-sen commented on #153
In order to improve the environment variable setting on Windows, it is necessary to modify the source.
But I can not concretely make that source suggestion.

As far as I can clearly improve the way to add this setting. It was added again.

**config.toml**:
[code]

It will be useful not only for Windows.
The theme of adopting this is unusual, and people who encounter this problem will continue to o

[2019-01-23 12:48] #145 closed

[2019-01-24 14:17] apbran2 commented on #117
Thanks.

[2019-02-17 19:55] jan-xyz commented on #108
Partial multi language support was merged into master with #144.

@budparr what is your opinion regarding localization of strings? I could implement something like [this](https://gohugo.io/content-management/multilingual/#translation-of-strings) with a PR. I do think, however, that it will be an ongoing effort with adding more localizations in the future.

[2019-02-17 22:43] budparr commented on #108
@jan-xyz I'd like to make this a truly multi-lingual theme, so your contribution would be welcome.

With a little bit of care, it can be multi-lingual without upsetting those who come into the theme with one language. I will chat more about that with @regisphilibert

[2019-02-18 06:15] jan-xyz commented on #108
Sounds good. I would suggest to aim for a solution that looks the same as it is right now as a default and everything else is an add-on.

[2019-02-24 01:39] emin63 opened #158 "Alignment question"
I notice that if I put text in my `_index.md` files the text sometimes gets centered instead of left aligned.

It looks like this is because of the following css being applied:

[code]

Is there a suggested approach if I do not want text to be centered but instead left aligned? Or should I just drop in some of my own CSS and formatting inside my `_index.md` file?

Thanks.

[2019-02-28 20:50] jan-xyz commented on #108
@budparr, I think this can be closed now?

[2019-02-28 20:56] #108 closed

[2019-03-01 11:40] casperl opened #160 "Images in lists question?"
Using the `featured_image = ""` directive in the page header for a blog post etc causes the image on top of the page to change to that image as well as an image on the lists of new posts on the front page, though that does not work for subsequent sub-directories.  To illustrate this graphically:

( http://bitterbek.co.za/ ) Site front page ( content/ ) = list with [image]+[page summary]
( http://b

[2019-03-01 12:15] echarp opened #161 "Feed enclosure"
Add the featured image to the rss/atom feed.

[2019-03-01 14:21] echarp commented on #161
Based on the official hugo rss generator, we can have the following:
(not opening another fork, as I have another one open)

[code]

[2019-03-02 19:01] budparr commented on #160
Hey, @casperl So if I understand you, you want this (on http://bitterbek.co.za/skrywes/):

![screen shot 2019-03-02 at 2 00 36 pm](https://user-images.githubusercontent.com/115347/53686334-9ec5e680-3cf3-11e9-8fcd-4f23e2d6f33a.jpg)

to look like this (home page):

![screen shot 2019-03-02 at 2 00 17 pm](https://user-images.githubusercontent.com/115347/53686342-b0a78980-3cf3-11e9-9d2f-2599e5bb6965.j

[2019-03-04 22:27] budparr commented on #161
Just want to make sure I understand. We should drop in the RSS above because it includes the featured image?

[2019-03-05 15:46] budparr commented on #158
Hey, @emin63 I seemed to have missed this. Sorry for taking so long to reply. The class that makes it centered is `tc-l` so, you can make a copy of the template in your root, and remove that class and it should be good. Let me know if that works for you.

[2019-03-06 10:57] echarp commented on #161
That's the idea yes, and of course just a proposition, so that featured_image would also appear in the rss :)

I had to modify one line to add a paginator:
    `{{ range .Paginator.Pages }}`

Or else the rss is just huge!

[2019-03-06 11:19] echarp commented on #161
Looking into it some more, I didn't have to add any reference to pagination, instead I should have relied to a config parameter:
[code]

[2019-03-06 21:51] mitchejj opened #162 "Safari Reader View lacks content"
The ‘Reader View’ built into Safari on both iOS and macOS does not present any content other than title and date.

An example of expected behavior using the latest post on gohug/news:

![img_0014](https://user-images.githubusercontent.com/156855/53916308-dc967800-402f-11e9-999b-19189f1609f0.png)

What happens using Reader View on the demo’s Chapter VI: Esmeralda post:

![img_0013](https://user-ima

[2019-03-07 14:44] casperl commented on #160
Yes, exactly. I think I found it, in ananke/layouts/index.html there is a partial called {{ partial "summary-with-image.html" . }} that is obviously invoked on the front page.

At this stage I am guessing I have to create a custom index.html file, similar to that referenced above in either mysite/layouts/index.html of a dir structure mimicking my content structure mysilte/layouts/skrywes/index.htm

[2019-03-08 09:18] casperl commented on #160
I tried the above with now success.  Back to reading the Hugo documentation on themes, though I keep on getting the feeling I am missing something important that I simply don't find in what I am reading.

[2019-03-08 18:36] budparr commented on #160
I'll have a look this weekend

[2019-03-10 17:39] budparr commented on #162
Thanks for reporting this, @mitchejj I'll take care of it here very soon.

[2019-03-13 14:05] jhenstridge opened #163 "Pages using `toc: true` fail to compile"
The recent i18n changes seem to have introduced a regression for pages with a table of contents.

In the included example site, I edited `content/post/chapter-1.md` to add `toc: true` to the front matter.  When I run `hugo server`, this generates the following error:

    $ hugo server
    Total in 33 ms
    Error: Error building site: failed to render pages: render of "page" failed: execute of te

[2019-03-13 15:36] budparr commented on #163
Thank you, @jhenstridge I'll check this out.

[2019-03-18 11:13] jacobsun opened #164 "themes/content: no such file or directory"
Fresh installed hugo and the theme.

run hugo server got this:

[code]

Hugo Static Site Generator v0.54.0-B1A82C61 linux/amd64 BuildDate: 2019-02-01T09:40:34Z

[2019-03-20 23:32] budparr commented on #164
Hi @jacobsun Sounds like you may have an issue aside from the theme. Can you please ask your question to the community? https://discourse.gohugo.io/

Thanks!

[2019-03-20 23:32] #164 closed

[2019-03-24 22:29] acuvic commented on #117
@Jimmy99 - Rather than removing the whole line (which will break the div nesting), just replace the line with a plain <div>?

[2019-03-24 22:42] acuvic opened #166 "Add responsive menu"
Although the theme is listed as responsive, the navigation menu does not seem to be. Smaller screen does not give the "hamburger"(3 bar) menu. This is ok with the demo site it has only three menu items with short names that just folds into one line under the site title on smaller screens. With larger number of menu items, they all fold into multiple lines.

[2019-03-25 16:20] valkiii commented on #126
Hi Allen616 I went on your website and it seems that you were able to solve it. Can you tell me how you did it? Thank you

[2019-03-25 19:39] budparr opened #167 "Review performance"
https://github.com/budparr/gohugo-theme-ananke/pull/165#issuecomment-475768352

[2019-03-26 06:23] kwk commented on #163
I've fixed this in #168

[2019-03-26 07:00] kwk commented on #126
@valkiii I think this is the place you're looking for, right @Allen616 ? https://github.com/citizenlabsgr/homepage/blob/7b210347902b9dddba74748851297f8fa4cf4e9c/config.toml#L74

[2019-03-26 20:28] budparr commented on #166
A hamburger menu does not define it as responsive, but I'm happy to make a better solution for longer menus. Do you have an example site I can look at? If not, how many menu items do you have?

[2019-03-26 21:25] acuvic commented on #166
Thanks for your reply Bud. Here's a site that uses your theme

https://coercivecontrol.org.uk

You're right about hamburger menus. Just my stacked menu would probably
fail google's mobile test due to lack of space between the lines of
the menu.

Victor

On Tue, 26 Mar 2019 at 20:28, Bud Parr <notifications@github.com> wrote:

--
07722 358149
acuvic@gmail.com <acuvic@iname.com>
http://www.acupunctu

[2019-03-27 09:11] Jimmy99 commented on #117
When I fixed this I remember deleting the line. Perhaps the code has been updated since then requiring the line to be replaced with a plain <div>?

[2019-04-07 23:03] plett commented on #158
@budparr I have the same issue and removing `tc-l` from the list of classes resolves it for me. Thanks.

[2019-04-13 13:37] Money-Samurai commented on #106
Thanks that worked for me, although in windows cmd this doesn't work.
Saw that this is a Linux command, and when using Git bash in the directory, I could use the command, and Google analytics is now working

[2019-04-13 13:52] Money-Samurai opened #169 "Blockquote's are not shown"
Hi,
I'm just starting with Hugo and the Ananke theme. Thanks first of all for the efforts put into the creation of the theme!

I noticed that using blockquote (> in markdown), results in HTML code <blockquote></blockquote>. The quote is not shown in browsers.

A similar issue suggests that the html tags should result in <blockquote class="blockquote">

[2019-04-13 13:56] Money-Samurai commented on #169
mm...also new at commenting at github :) another try:

I notice that when using blockquote in markdown, the resulting html is `<blockquote> </blockquote>`
While a similar issue suggests it should be `<blockquote class="blockquote">`

[2019-04-17 12:33] casperl commented on #160
I've achieved it by creating a shortcode that shows the page image directly above the summary as well as changing index.html to call summary and not summary-with-image.  On single pages the same image is duplicated, though it does not look bad at all.

![20190417-142427](https://user-images.githubusercontent.com/1303185/56287529-e1654600-611c-11e9-8755-d45b833ccc32.png)
![20190417-142740](https://

[2019-04-18 12:30] casperl commented on #160
I neglected to mention that featured_image files are resized to 640x300 res that works across the board. Other sizes produce weird effects.

Here is the code for my "masthead.html" shortcut, no rocket science though it may save some time for implementing this feature.
[code]
A possible modification I may do (once I have auquired the skills) is to include this code in the templates for Lists and Si

[2019-04-26 14:46] #169 closed

[2019-04-26 14:47] budparr commented on #169
Thanks, @Money-Samurai Some of the issues may not be related to blockquote styling, but I did add some styling for them.

[2019-05-01 18:05] Money-Samurai commented on #169
Thanks budparr! the update works, i cloned the latest version and quotes are nicely shown now in the built site

[2019-05-14 04:26] phy25 opened #173 "partialCached should not be applied to site-navigation.html"
This bug is introduced by #165. `site-navigation.html` includes `i18nlist.html`, which is different on every page and should never be cached across pages. This will cause bug that i18n links point to other pages rather than this page.

https://github.com/budparr/gohugo-theme-ananke/blob/389e12c252a4586e925424de5ef039f382e9d18a/layouts/partials/site-navigation.html#L7

If you need a patch I can cre

[2019-05-14 07:46] echarp commented on #173
I'm looking into it

[2019-05-19 17:32] rwhitt2049 commented on #105
@MayaGans , Did you figure out how to do this? Do you have an example you could share with me?

[2019-05-23 01:41] panmanphil commented on #106
I am having the same problem. I've tried both using `-e production` and the `HUGO_ENV=production` Any other things to look for?

[2019-05-28 16:12] phy25 commented on #173
Closed by #174.

[2019-05-28 16:12] #173 closed

[2019-06-06 07:09] kentmz opened #176 "Custom image folder"
Hi,

I recently set up this Hugo theme, I can see that the featured image is served from the ananke\static\images folder. Is there a way that I can use a custom image folder? This way I can keep the theme and the images related to the site in a separate folder.

Thanks in advance.

[2019-06-06 21:36] budparr commented on #176
Yep. You just put a static folder in the root of your site and you can put anything in there you like

[2019-06-07 05:13] kentmz commented on #81
I'd love to see this feature to add a logo.

[2019-06-07 05:58] kentmz commented on #176
I've tried that. So I have a folder in the root called "assets" which has a banner.jpg and then in the config I've set the feature image as
`featured_image = "assets/banner.jpg"`
and it doesn't show the image, however, if I move the folder inside the static folder of the themes, then it works. Looks like it looks for files in the theme folder.

Also, another question is, how do I remove the grey o

[2019-06-07 12:51] budparr commented on #176
That's right. Hugo's `assets` directory is for Hugo's asset pipeline. The `static` directory surfaces its contents in the public output folder. Not sure what you mean about a grey overlap. Maybe you can send a screenshot.

[2019-06-11 01:40] kentmz commented on #176
I just happen to name the folder assets. Attached screenshot of my folder. So, you mean if I have a folder called say "my-static-assets" in the root I cant have an image in there and reference it in the config is it?

Attached the screenshot regarding the overlay. There is an grey overlay that sits on top of this image. How do I remove it or set the color of this to transparent. The same image is

[2019-06-11 01:49] budparr commented on #176
Maybe this will help: https://gohugo.io/content-management/static-files/

[2019-06-12 02:32] kentmz commented on #176
Thanks for sharing this. Appreciate your help. Do you have any idea how I can resolve the overlay issue?

[2019-06-20 13:50] SimonMupz opened #180 ".Hugo is deprecated"
.Hugo is deprecated and will be removed in a future release
.RSSLink is deprecated and will be removed in a future release
.URL is deprecated and will be removed in a future release.

[2019-07-02 16:44] badenski opened #181 "taxonomy.html and i18n"
Hello !

first of all, i would like to congratulate you for your excellent work.
I have a little question about translation.

in layouts/_default/taxonomy.html, there is an english text "Below...",
Is there a reason to keep this text without using i18n ?
Is it something to be done in the future ?

best regards.

[2019-07-07 22:16] ecarl65 opened #182 "Font not applying to blog posts"
When I try to change the global font in the config.toml file as described in the documentation I notice that it changes it for most of the site except not in the "posts" folder for the blog posts. I imagine I'm missing something but I don't see why the fonts used are different.

[2019-07-14 19:17] bldschrmtxt opened #184 "text in form-contact.html is not localized"
The text of the [contact-form](https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/shortcodes/form-contact.html) shortcode is not translated. Should be added to i18n.

[2019-07-18 19:58] perigee commented on #136
@budparr any chance that u can refer me the line I need to change, sorry not a frontend developer :( Thank you in advance.

[2019-07-25 02:05] liangzhengyiyi commented on #123
I set the Config with
[params]
mainSections = ["project", "computation", "article"]

It worked! Now I have three sections listed under "recent posts". **However, I also want to add a headline above each section to be clear and consistent. Right now, there is only one section name "recent posts".** How can I achieve it?  Thanks for your help!!

gohugo-theme-ananke/layouts/index.html codes are as fo

[2019-07-25 16:37] jasmith86 opened #186 "Prolem parsing theme.toml"
When attempting to make add a new post with `hugo new posts/my-post.md`, I get the following error:

[code]

Editing `theme.toml` and commenting out line 15 `min_version = 0.30.2` allows the hugo command to execute properly.

[2019-07-26 04:54] rburgst commented on #186
same problem here, I guess newer hugo versions parse this version more strict.

[2019-07-26 04:56] rburgst commented on #186
I have created a PR for this #187

[2019-07-28 16:30] amir3code commented on #186
@rburgst  I think thats because of theme.toml file being parsed. I mean the parser has problem with that. I changed that to string `min_version = "0.30.2"` that would not be a problem right?

[2019-07-28 18:25] rburgst commented on #186
Most likely yes. I am not sure whether it makes a huge difference (after all 0.30 is already pretty old). I have my build working with my PR but I guess it would work with a string, too.
I checked a few online resources and all of them list `min_version` as a float.

[2019-07-28 18:29] theHausdorffMetric commented on #186
I think one should use a string "0.30.2" and not a float to be consistent with hugo's andard 3-part semantic versioning scheme.
See also [https://github.com/gohugoio/hugo/issues/4127](url)

[2019-08-01 04:27] rburgst commented on #186
I have updated the PR and it also works. So I would say lets go with string then.

[2019-08-06 13:19] onedrawingperday opened #193 "Theme demo broken on Hugo Themes Showcase"
Hello @budparr

Currently the Ananke theme's demo does not generate as mentioned in https://github.com/gohugoio/hugoThemes/issues/669#issuecomment-518648215

To fix you need to change [line 11](https://github.com/budparr/gohugo-theme-ananke/blob/master/theme.toml#L11) of `theme.toml` to: `min_version = "0.30.2"`

The `min_version` needs to be a string.

Feel free to close this issue once you do th

[2019-08-06 19:31] budparr commented on #193
Thanks for the heads up. I've been traveling, but will take care of this shortly.

[2019-08-08 03:07] moondra2017 opened #194 "Is there anyway to have Recent Articles on the main page to incorporate articles multiple sections?"
I am currently playing around with the theme, and it seems that that only posts from one blog
section are displayed on the first page under Recent <blog header>.

If I have multiple blog-tabs (headers), how would I have it display recent articles from both blogs.
For example "Recent Tech", and then under it "Recent Science"

Thank you so much for a great theme.

[2019-08-10 13:07] budparr commented on #117
If you update the theme code, you should fork it, not update the clone. You won't get updates that way, but your changes will stay in-tact.

I'll close this, but it will still be here for others to find. Thanks!

[2019-08-10 13:07] #117 closed

[2019-08-10 13:08] budparr commented on #193
Fixed in #189 Thanks!

[2019-08-10 13:08] #193 closed

[2019-08-10 13:18] #184 closed

[2019-08-10 13:31] budparr commented on #186
This has been fixed in #189

[2019-08-10 13:31] #186 closed

[2019-08-15 06:02] karuppiah7890 opened #198 "Add sharing links for the posts"
Medium has a way to share post to Twitter, Facebook

<img width="231" alt="Screen Shot 2019-08-15 at 11 17 41 AM" src="https://user-images.githubusercontent.com/12808424/63075673-11e4b180-bf50-11e9-91f8-6b86027d879d.png">

It would be great to put such links in hugo blogs too. And we can also let people choose what platforms links they want to show and let them embed their usernames too in the pos

[2019-08-15 19:02] budparr commented on #198
Hi @karuppiah7890 I'd certainly be happy to have a PR on this. I think the main requirement is to have it all local (i.e. no outside resources).

[2019-08-16 00:31] karuppiah7890 commented on #198
You mean no putting links to Twitter's js resource? Is it okay to then copy
it and put it in the code?

[2019-08-20 02:21] budparr opened #200 "Add Stackbit"
documented here:
https://github.com/JugglerX/hugo-serif-theme - Scroll down in the README and you can see the "create with stackbit" button. If possible we'd like to do the same for Ananke. So to do this you need to add a stackbit.yaml with some content models which I've documented here: https://docs.stackbit.com/uniform/

[2019-08-21 21:42] labanskoller opened #201 "robots.txt disallows everything despite "Environment: production""
I wanted to add `robots.txt` to my site so I added

[code]

to my `config.yaml`. That didn't turn out as expected. It got the following content:

[code]

On the web server I render my site using just `hugo`. On my workstation I tried with `hugo server --environment=production` but got the same result. The command wrote the environment as I specified it however:

[code]

I'm running Hugo 0.57.2.

A

[2019-08-21 21:53] budparr commented on #201
`HUGO_ENV` is what we use on all of our production sites and it works fine.

I agree though that we should change `params.env` to Hugo's newer environment setting (though, truth is, we only use `HUGO_ENV` at work and I'm not sure of the value of the second setting (someone else added it to the theme).

[2019-08-21 21:57] labanskoller commented on #201
Which version of Hugo are you using? I just upgraded to 0.57.2 and when I set `HUGO_ENV` it's not used. Look at the `Environment:` line:
[code]

Using `HUGO_ENVIRONMENT` however works:
[code]

[2019-08-21 21:58] labanskoller commented on #201
I already made a proposal before I read your comment. I'll link a pull request we can discuss.

[2019-08-21 22:01] labanskoller commented on #201
Also, please see this message by Bjørn Erik Pedersen about the official support: https://discourse.gohugo.io/t/how-to-serve-different-files-depending-on-environment/16212/2

[2019-08-21 22:07] budparr commented on #201
`HUGO_ENV` is for the server, not for Hugo, but Hugo can use it `HUGO_ENV=production hugo serve` and that works fine. Where you have `Environment: "development"` in your build log is Hugo's environment.

As this would be a breaking change for some, we'd have to be careful about changing the other value. Perhaps add it as an additional conditional at first with a warning (we don't really have that

[2019-08-21 22:28] labanskoller commented on #201
I'm not sure I follow what you mean by "server". Do you refer to the server which hosts your site (so a physical server or a VM) and that `HUGO_ENV` is just an environment variable you chose to set on that server so it could be used in the Ananke theme? Or do you refer to Hugo's built-in web server started by `hugo server`?

If the latter I don't see any difference between running `hugo` to templa

[2019-08-21 22:32] labanskoller commented on #201
Sorry, I think you answered that question already in your first comment:

[2019-08-21 22:56] budparr commented on #201
Yes, `HUGO_ENV` is often used as a setting in deployment. That should not change here. The other value that is now a Param should change to Hugo's env.

[2019-08-21 23:11] labanskoller commented on #201
I've added a new commit (03aad29541f74c53dc5df35db29d13888f93b32e) to the pull request. I now try to support both ways. When deciding what CSS classes to add to `<body>` however I feel I need to choose only one way, and I hope you agree that the future is to use Hugo's built-in environment support so I chose that over `HUGO_ENV`. Tell me if you can't accept that. I don't know to what extent those

[2019-09-07 20:45] naggie opened #203 "featured_image from page bundle"
Hi,

I'm in the process of converting my site to use hugo page bundles. I've managed to update all of the images except the featured image -- referencing an image relative to the page bundle does not appear to work.

Is there any way I can assign a featured image from the page bundle?

Thanks!

[2019-09-11 04:05] diehl opened #205 "Topic tags for blog posts?"
Is there a way to add topic tags to blog posts that can later be leveraged to quickly look at a subset of the posts on the blog corresponding to a particular topic?

[2019-09-11 15:53] budparr commented on #205
Yep. See this example post, for example: https://github.com/budparr/gohugo-theme-ananke/blob/master/exampleSite/content/post/chapter-4.md and it's published counterpart: https://gohugo-ananke-theme-demo.netlify.com/post/chapter-4/

[2019-09-11 15:53] #205 closed

[2019-09-11 15:55] budparr commented on #203
Hi @naggie that's probably a question for the forums.

[2019-09-11 20:43] naggie commented on #203
Ok

[2019-09-11 20:43] #203 closed

[2019-09-12 00:46] diehl commented on #205
Thanks @budparr! How about displaying a list of all the tags somewhere on the blog so one can navigate the post collection? Is that an existing option in the theme?

[2019-09-12 10:00] vogella opened #206 "Add author specific RSS feeds for tags"
Feature request:
It would be great is you could add author and tag specific rss feeds to your theme.

Why:

I'm the project lead of the Eclipse IDE Open Source project and would like to have an RSS feed for "eclipse" under my name "vogella". Another colleague jnerlich you also like to blog sometimes under "eclipse" and sometimes under something else.

And we would like to aggregate our person "ecl

[2019-09-15 16:48] mbernico opened #207 "baseof.html"
Hi, probably a dumb question but I'm stumped.

I'm trying to override `./themes/anake/_default/baseof.html` with `layouts/_default/baseof.html` but it seems to not be working. Changes in `layouts/_default/baseof.html` aren't reflected in the build while changes in the themes baseof.html are.

According to Hugo's lookup order I think this should work. The doc says:
/layouts/_default/baseof.html
/th

[2019-09-15 19:11] budparr commented on #207
Hi @mbernico Sounds like you're doing it right. Can't say more without seeing your code. You'll also get more eyeballs on it by asking in the forums.

[2019-09-15 19:12] #180 closed

[2019-09-15 19:21] budparr commented on #206
Sounds like a good idea, @vogella

[2019-09-16 15:27] mcolburn commented on #166
I also vote for adding collapsible menus to Ananke so it displays well on mobile devices.

[2019-09-17 17:49] Beanow commented on #113
I've added a PR above. It's a simple implementation that doesn't go all over the place like lists to add it. However it's there on the blog post itself.

For the website I'm writing for now I believe it's necessary, because part of the site is written from "we" perspective. But blog posts can also be opinion written in "I" form which needs the author for this distinction.

[2019-09-25 22:22] susodapop commented on #207
I agree with @budparr. Could you post some examples of your code or perhaps fork the repo? I'm curious to look into this.

[2019-09-25 23:29] mbernico commented on #207
@budparr @susodapop This was my dumb mistake guys, I'm sorry to bug you. I named the folder _defaults instead of _default and had been staring at it way too long.

[2019-09-25 23:29] #207 closed

[2019-09-27 09:42] msamoylov opened #212 "RSS feed URL is broken"
[code]

Could be easily reproduced by visiting any Ananke-based website. Even the demo site is affected. https://themes.gohugo.io/theme/gohugo-theme-ananke/

[2019-09-28 12:49] #212 closed

[2019-09-28 18:11] susodapop commented on #198
Hey @karuppiah7890 - are you still working on this? If not, I'll try my hand at it.

[2019-09-28 18:36] susodapop commented on #200
Here's a blog post that should help: https://www.stackbit.com/blog/hugo-stackbit-tutorial/

[2019-09-28 19:07] karuppiah7890 commented on #198
I worked on the twitter part. Then got caught up with other things. Didn't check facebook and whatsapp. You can go ahead and do it 😄

I just have one doubt. For twitter, I used the twitter site and noticed they asked me to use their Js code using a link. Instead it would be downloaded and kept locally in the repo is it? Same for Facebook and WhatsApp ?

[2019-10-01 10:30] bilotAIcore opened #215 "Syntax highlight not working"
I'm trying to get syntax (r/python) to be highlighted properly in Rmarkdown posts but sofar had 0 luck.  For example, changing the pygments options only seem to affect code blocks in .md files. I would apreciate a guide on what to alter in the site source codes to make this work.

Thanks.

[2019-10-01 19:19] susodapop commented on #215
Would you post an example of the code so we can investigate?

[2019-10-15 22:28] andresmazzo commented on #194
Would be great this improvement! Actually shows the section with most pages (gohugo rule).
It seems that he have already seen this:
https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/index.html#L5

Maybe an array variable like: `sections_on_recent = ["post", "event"]`. If not specified it continue with the actual rule (compatibility).
Do you accept a PR @budparr ?

[2019-10-15 22:50] andresmazzo opened #217 "Image on card"
In the _recent posts_ of homepage it appears the image, but in the list it doesn't. Would be great if it is possible to configure this. In some types of posts is very important the visual impact. What do you think?
I could contribute in the develop of the improvement.

Thanks for considering!

[2019-10-21 16:03] arguskao opened #218 "error"
git submodule add https://github.com/budparr/gohugo-theme-ananke.git themes/ananke

fatal: not a git repository (or any parent up to mount point /Volumes)

WHY??

[2019-10-23 17:32] budparr commented on #218
![](https://github.trello.services/images/mini-trello-icon.png) [test](https://trello.com/c/2lYlnU5X/14-test)

[2019-10-23 17:32] budparr commented on #212
![](https://github.trello.services/images/mini-trello-icon.png) [test](https://trello.com/c/2lYlnU5X/14-test)

[2019-10-26 17:00] budparr commented on #218
Hi @arguskao This looks like a local GIt issue to me. Might try to the community forums as there might be some folks there who have encountered this sort of thing before .https://discourse.gohugo.io/

[2019-10-26 17:00] #218 closed

[2019-10-26 17:07] budparr commented on #194
HI @andresmazzo and @moondra2017 The solution already exists. Just add the sections to `Site.Params.mainSections` in your config file

[2019-10-26 17:07] #194 closed

[2019-10-26 17:08] budparr commented on #217
Yes, I agree, that would be good. As long as there's a provision for when there are no images. That is, both on any given entry (so they all look uniform) and for all of them. PRs welcome! Thank you.

[2019-10-26 22:32] N0hbdy opened #220 "Error: Unable to compile if menus are present"
0d9656d939b58a1ea721b8cde42ef186514f00c3 introduced a compile error if menu's are present (its pretty confusing which URL/Permalink you're supposed to use in hugo...).

PR to fix: #219

[2019-10-27 19:07] #200 closed

[2019-10-27 19:35] budparr opened #224 "Fix Stackbit YAML"
The Stackbit YAML file validated via the CLI, but not when I added via the interface.

[2019-10-27 20:45] #224 closed

[2019-10-27 21:50] budparr opened #227 "Automate changelog"

[2019-10-27 21:58] #227 closed

[2019-10-27 22:22] budparr opened #229 "Fix issue with Menu URL"
https://github.com/budparr/gohugo-theme-ananke/commit/0d9656d939b58a1ea721b8cde42ef186514f00c3 Introduced a change, that I wrongly let slip through on the menu (which does not use Permalink).

Fixes #220

[2019-10-27 22:28] #229 closed

[2019-10-28 20:42] #220 closed

[2019-10-28 20:42] N0hbdy commented on #220
Fix is in.

[2019-10-31 17:44] michaelscloud opened #232 "Need to extend the footer.."
Hello, Love the theme it's been easy to set up.

We are using a creative commons picture for the hero image and need to attribute it correctly.

Is there a way to add that detail to the page footer?

Thank you

[2019-11-01 13:33] metbril opened #233 "Featured image requires absolute path"
The `featured_image` parameter can be set system wide in `config.toml` or in the front matter of a specific page. This parameter always expects an absolute path from the site root, and does not handle relative urls.

When using it with a page leaf, I have a `posts` section in `content` with folder named `slug-to-page`, containing both an `index.md` and `featured.jpg`:

[code]

In the index file, I

[2019-11-01 14:28] metbril commented on #233
This snippet seems to work

[code]

[2019-11-01 20:38] #181 closed

[2019-11-04 20:11] jan-xyz commented on #198
The Twitter part should be fairly straight forward with:

http://twitter.com/share?text=we_love_hugo&url=http://gohugo.io&hashtags=hashtag1,hashtag2,hashtag3
(taken from: https://stackoverflow.com/a/20832477/2595410)

[2019-11-06 20:16] peleve opened #234 "Flexible image display"
I'm working on a document that contains lots of images.  They are of different sizes. What I would like to have is a shortcode that allows me to set the size of an image.  Specifically the height, but I want to keep the aspect ratio of the image. I can't figure out how to do this with your theme.
I've tried using shortcodes from other themes, but either I can't get them to work or they are working

[2019-11-08 16:01] paulschaffrath opened #235 "Allow disabling black overlay for hero background"

[2019-11-13 14:30] jmezach commented on #215
I'm seeing the same thing. For example, I've put this into my post markdown:

[code]

And it renders like this:

<img width="637" alt="Screenshot 2019-11-13 15 29 07" src="https://user-images.githubusercontent.com/1225489/68772587-59034100-062a-11ea-875a-83894ffb28f6.png">

As you can see it's just white text on a black background, but no highlighting of keywords or anything. Am I missing somethin

[2019-11-15 19:21] budparr commented on #234
Hey, @peleve Have you asked in the forums. I don't think there's anything special about one theme or another in regards to using shortcodes. If you put it in your own folder layouts/shortcodes it should work.

[2019-11-15 19:28] budparr commented on #232
Hi @michaelscloud Have you tried asking in the forums for this? Duplicate the footer into your own layouts/partials directory, and from there do anything you like with it.

[2019-11-29 01:12] corch commented on #100
I have been trying to figure this out as well. The file "/layouts/partials/site-header.html" is where the image is included in the page but I don't know if this is the right place to change it, or what css should be used to affect the height of the image.

I'm also having a problem with the description parameter set in config.toml not displaying on the header image below the site title... not sure

[2019-11-29 01:35] corch opened #238 "Params.description does not display on site header"
On the demo site it appears as though the site description set by params.description in config.toml appears under the site title, however on a fresh install of this theme the description does not display. Is there some other config setting which needs to be turned on to make this work (or how else to get a subtitle to display on the header image?),

[2019-12-22 15:25] remmelt commented on #235
I added some custom CSS to this effect:
[code]

[2020-01-02 01:15] acgetchell opened #242 "Add Keybase?"
Related to #27

[2020-01-04 10:51] pdurbin commented on #217
I just experimented with switching the list from "summary.html" to "summary-with-image.html" and I'm pretty happy with the results.

## Before

<img width="1321" alt="Screen Shot 2020-01-04 at 5 49 40 AM" src="https://user-images.githubusercontent.com/21006/71764447-07529680-2eb6-11ea-9b56-7afdfe6cea8b.png">

## After

<img width="1321" alt="Screen Shot 2020-01-04 at 5 49 06 AM" src="https://user-

[2020-01-24 00:26] agrrh opened #245 "Add mermaid.js support"
Great theme, thank you!

I would be happy if it supported diagrams, charts, graphs or flows from markdown-like text:

https://github.com/mermaid-js/mermaid
https://mermaid-js.github.io/mermaid-live-editor/

[2020-01-24 00:28] agrrh opened #246 "Add expand shortcode"
Great theme, thank you!

Sometimes it would be useful to have `expand` shortcode.

https://gohugo.io/templates/shortcode-templates/

[2020-01-24 01:13] agrrh opened #247 "Respect "lastmod" value"
Great theme, thank you!

Currently `lastmod` is not used:

[code]

This results in "January 21, 2020", which I believe should be appended with some "updated at" notice.

What do you think?

[2020-01-24 13:20] agrrh commented on #215
I managed to fix this:
[code]
1. Generate syntax CSS style:
[code]
2. Enable syntax CSS and highlight settings in config:
[code]
Then my site properly highlight code which is just placed between "```" blocks.

References:
- https://gohugo.io/content-management/syntax-highlighting/#generate-syntax-highlighter-css
- https://gohugo.io/getting-started/configuration-markup#highlight

[2020-01-26 19:37] #242 closed

[2020-01-26 19:39] budparr commented on #246
Hi @agrrh You can add any shortcodes you want to your site, just by adding the the file to your own directory, `/layouts/shortcodes/<SHORTCODE>.html`

[2020-01-26 19:39] #246 closed

[2020-01-26 19:41] budparr commented on #245
This is something you'd want to add beside the theme, rather than in it. Thanks!

[2020-01-26 19:41] #245 closed

[2020-01-26 19:41] budparr commented on #247
I'll check this out. Thanks for the heads up!

[2020-01-27 01:02] agrrh commented on #246
I thought this would be useful for other theme users. `expand` seems to be kind of a common feature.

Just to clarify, would it work if I prepare PR or this is something you really don't like to include in a theme?

[2020-01-31 21:24] danielcorin commented on #235
I believe this can also be done by supplying an alternate class in the config file:
[code]

[2020-02-01 10:12] alienxp03 commented on #238
Replacing `.Params.description` with `.Site.Params.description` works.

[2020-02-03 04:50] PNMarano opened #253 ""omit_header_text: true" ignored in _index.md"
Hi! Does the index page get treated specially in terms of parameters? I ask because it seems `omit_header_text: true` doesn't work in it, but does in other pages. If I put the following exact same content in two files (one of which is _index.html):

[code]

The index page insists on having the larger header with the page title in it, while any other file looks more like the contact page in the dem

[2020-02-05 14:27] regisphilibert commented on #198
I think we should have a param to disable the share on individual pages. To disable on all, user will use `cascade`.

Let's limit this to post first.

[2020-02-05 14:40] #162 closed

[2020-02-05 20:51] regisphilibert opened #256 "refactor social icon logic"
We should use the same code (with small alteration) for every social icon as this partial is getting out of hand :)

Something like:

[code]

Of course with checking that the `svg` partial exist and fallback on a default etc...

[2020-02-05 21:15] regisphilibert opened #257 "Make Multilingual aware"
The theme should sport a minimum of 2 languages (strings localization) and a lang switch.

We should make sure that adding languages for users is just about configuring Hugo properly through their config file and add their own `/i18n/{XX}.yaml` file if said language is not among the 2 supported one.

There was already an issue for this (#144) but we should start fresh.

This is more an Epic than a

[2020-02-06 15:33] #198 closed

[2020-02-07 04:03] danielcorin opened #258 "Add support for dark mode"
Respecting
[code]

[2020-02-10 17:33] budparr commented on #258
Hi @danielcorin We're getting ready to work on the next version and will likely include this.

[2020-02-13 12:37] KevinJ123 commented on #182
Pull request and file

[2020-02-17 09:48] regisphilibert commented on #118
@mountainbug95 could you take a look at this one?

[2020-02-17 09:52] regisphilibert commented on #106
@mountainbug95 I think we only need to address documentation here. Could you investigate how to run the production variable under windows and update the documentation with ways to run the site in production environment on several machines?

Thanks a ton!

[2020-02-17 09:54] regisphilibert commented on #27
Should be addressed with #256

[2020-02-17 16:21] budparr commented on #68
solved in #69

[2020-02-17 16:21] #68 closed

[2020-02-18 09:23] #182 closed

[2020-02-23 16:06] fpiantini commented on #238
I solved copying also the `_index.html` file from `exampleSite/content` of the ananke theme, to my site `content` directory (and obviously customizing it). It seems that something is not working with the `description` parameter in the `config.toml` file, but in any case the `_index.html` overrides it... with some duplication, but also with the added value that you can customize the home page of yo

[2020-02-29 14:14] cppcms-testing opened #262 "Page.URL is deprecated and will be removed"
After a fresh install of Hugo and the theme "ananke", and after generating a new post with the command:
hugo new posts/my-first-one.md
there is a warning:
Page.URL is deprecated and will be removed in a future release. Use .Permalink or .RelPermalink. If what you want is the front matter URL value, use .Params.url
Every time the command:
hugo server -D
is issued, this warning shows up. I have been

[2020-03-13 02:02] SDiamante13 opened #263 "How to justify text in posts?"
My text is not aligned on the right side. I would like to justify it so there are no gaps on the right side. I tried adding customCss like [this issue](https://github.com/rhazdon/hugo-theme-hello-friend-ng/issues/20) suggests. Do we have any ability to do this for this theme?

[2020-03-22 00:59] cptncrnch commented on #234
I added an image to a page that is also a link:

`[![Image alt text](/images/myimage.gif#target "Image title")](https://www.linktoimage.com)`

The image shows on the page with 100% width being set by `.nested-img img`. Is there a way to override the 100% width setting of `nested-img`? I have tried adding custom css in `/static/css/_styles.css` to target the image but the image is still 100% width.

[2020-03-22 04:28] chaspy opened #264 "Add twitter hashtag on social share"
When clicked social share button, default text includes only title and URL
![](https://user-images.githubusercontent.com/10370988/77242283-39b39a80-6c40-11ea-96af-9d07c240ef1e.png)
.
Can I post a hashtag as a paramater in the post and post it if there is one?

example:

content/post/chapter-1.md

## ```diff
date: 2017-04-09T10:58:08-04:00
description: "The Grand Hall"
featured_image: "/images/Pope

[2020-03-23 20:54] #234 closed

[2020-03-23 20:56] budparr commented on #264
I like the idea. With a PR, please include documentation for the readme.

Let's check quickly with @regisphilibert first though. Do you agree, and does that code stand? If empty `$hashtags` need a check?

[2020-03-25 13:53] budparr commented on #264
![](https://github.trello.services/images/mini-trello-icon.png) [Test](https://trello.com/c/6jcJq0Pu/3431-test)

[2020-03-25 13:54] budparr commented on #253
![](https://github.trello.services/images/mini-trello-icon.png) [Test](https://trello.com/c/6jcJq0Pu/3431-test)

[2020-03-25 14:00] regisphilibert commented on #264
Well this is a Twitter only parameter. So I'd rather it's `twitter_hashtag`. In the front matter, unless you can devise a use case where we'd use this elsewhere.

[code]
Not sure how `printf` will handle this third parameter with only two `%s` in the string. We should built a default `$text` string based on the title, and then add the hashtags to it if `.Params.hashtags` is found. Like we're doing

[2020-03-25 14:14] chaspy commented on #264
I agree with you, about something like `twitter_share_append` .
What about `additional_comments_for_sharing` (long 😅) as we can be used for sharing to other social media?

[2020-03-27 15:46] dmakogon commented on #105
@budparr - I've just moved to Hugo, and chose Ananke as my theme - much thanks! Looks like I'm not the only one who was wondering how to increase page width. I see your note above, about "just writing a class" - unfortunately, I have no idea what, exactly, has to be done. Do you have any documentation or hints for accomplishing this? I'm trying to avoid having a very narrow column of content rende

[2020-04-02 16:09] rwslippey opened #265 "omit header not working on list pages"
New to hugo but finding the theme to be great. One thing I can't figure out is omit_header_text: true does not work on _index.md or any other list page. (hopefully my lingo is correct here)

Works just fine on other pages no problem. Tried with the example site content as well and no dice. Is this functionality included or is it only for pages?

[2020-04-02 17:02] rwslippey commented on #265
Ok, somebody is probably better at this than I but it didn't look like this was included in the features list. Here is what I did. Obviously moving site-header.html to my layouts folder to override the theme. I added modified it as such.
At Line two, under
`{{ $featured_image := .Param "featured_image"}}`
Add line
' {{ if not .Params.omit_header_text }} `

Add the following to the end
`{{ else }}

[2020-04-02 17:08] rwslippey commented on #265
Ok, somebody is probably better at this than I but it didn't look like this was included in the features list. Here is what I did. Obviously moving site-header.html to my layouts folder to override the theme. I added modified it as such.
At Line two, under
`{{ $featured_image := .Param "featured_image"}}`
Add line
`{{ if not .Params.omit_header_text }}`

Add the following to the end
[code]
This is

[2020-04-05 15:00] jan-xyz commented on #166
This theme has a responsive header menu like Ananke that folds into a single item with drop down:
https://github.com/Vimux/Mainroad

This one has a side-menu that turns into a burger:
https://github.com/alex-shpak/hugo-book.git

[2020-04-21 13:57] junjieyuan opened #268 "Modify the title format"
The current title format is "My-site-name | article-name".

The article name is incompletely displayed in the browser's tab, I suggest changing it to "article-name | My-site-name".

[2020-04-23 15:34] zeorze commented on #262
You should be searching for `.URL` rather than `Page.URL` in your theme directory. There are a couple of remnant entries which weren't covered off in #216 . These can be found in `layouts > partials > site-navigation.html` and `layouts > partials > social-share.html`.

[2020-04-23 15:39] budparr commented on #268
Hi @junjieyuan I agree with you (in fact, thought I did this a long time ago). We'll add this to our list of things to enhance.

[2020-04-24 02:27] kaihendry opened #269 "exampleSite/content translation"
Perhaps related to https://github.com/budparr/gohugo-theme-ananke/issues/257

I see [metadata is translated](https://github.com/budparr/gohugo-theme-ananke/tree/master/i18n), but why not demonstrate an entire post in https://github.com/budparr/gohugo-theme-ananke/tree/master/exampleSite/content to exercise https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/partials/i18nlist.html II

[2020-04-24 14:09] cppcms-testing commented on #262
Thank you for your recommendation. This is exactly what I did before asking for help, and this is the output of the command hugo server -D:
`Building sites … ERROR 2020/04/24 15:53:30 render of "section" failed: execute of template failed: template: _default/list.html:49:29: executing "header" at <partial "site-header.html" .>: error calling partial: execute of template failed: template: partials/

[2020-04-24 17:46] budparr commented on #262
@cppcms-testing Why are you trying to fix this? It's a warning and should not be breaking your site.

What errors? It's a warning. I run 40+ Hugo sites in production and have not had a problem. It will be fixed before it becomes an error.

Can you explain the harm being done to Hugo? The theme works perfectly and is used by many people. I built the theme on my free time and contribute to Hugo and

[2020-04-24 17:46] #262 closed

[2020-04-24 19:44] budparr commented on #269
Hi @kaihendry  Yes, I think what you're looking for is what we intend to do with #257. I'll close for now, but thank you for your vote for that feature.

[2020-04-24 19:44] #269 closed

[2020-04-24 19:46] budparr commented on #257
As pointed our in #269 we should include translated content in our example set of content shipped with the theme. And, we should include it in the demo.

[2020-04-25 16:47] arguskao opened #270 "Can not use html tag"
<font color="">text </font>

can not working.

WHY?

[2020-04-26 20:39] prabeesh opened #271 "Disqus is not showing comments for all of my posts"
I am using **anake** theme for my personal blog.

One of my post I have 58 comments [Install Apache Spark on Ubuntu-14.04](http://blog.prabeeshk.com/blog/2014/10/31/install-apache-spark-on-ubuntu-14-dot-04/) unfortunately the comments are not showing in the **disqus**. But for other posts with fewer comments are showing. Let me know is there any restrictions for the number of comments shown in **d

[2020-04-27 15:46] budparr commented on #271
Hey, @prabeesh I'm not seeing any comments at all on your posts. Looks like this might be a DISQUS issue. Let me know what you come up with. If it looks like something specific to the theme, I'll have a look at our implementation to see if anything has changed.

[2020-04-27 16:16] prabeesh commented on #271
[image: Screen Shot 2020-04-27 at 8.14.40 PM.png]
Please find the attached screenshot from Disqus UI.

On Mon, 27 Apr 2020 at 19:47, Bud Parr <notifications@github.com> wrote:

[2020-04-27 16:20] prabeesh commented on #271
Please find the screenshot from Disqus UI [screenshot](https://drive.google.com/file/d/1eWaoviZ-mFmNHVXc_5DncZS6mlIPihKx/view?usp=sharing). There you can find 58 comments, but it is not showing the Hugo page. Previously I was using Octopress for my blog and the comments were visible in the Octopress posts.

[2020-04-27 18:28] budparr commented on #271
We'll check it out. Thanks for reporting. Can you point me to a post where there are comments showing (I'm not seeing any) and perhaps your repo?

[2020-04-27 18:38] prabeesh commented on #271
You can refer to this [post](http://blog.prabeeshk.com/blog/2016/12/07/install-apache-spark-2-on-ubuntu-16-dot-04-and-mac-os/) to see the Disqus comments and  find the repo [here](https://github.com/prabeesh/prabeesh.github.io/tree/source)

[2020-04-27 23:14] budparr commented on #271
Did you change the URL of the post? As best as I can tell this is a DISQUS issue, not an issue with the theme. The post references 59 comments, but those have a different slug. I'm not really sure how DISQUS works, but maybe that's it.

[2020-04-28 06:18] prabeesh commented on #271
Thank you @budparr I will have to check the URL slug.

[2020-04-28 08:24] prabeesh commented on #271
The issue has been fixed. I have updated the URL slug for the posts. Thank you @budparr for the inputs.

[2020-04-28 08:24] #271 closed

[2020-04-28 16:53] #268 closed

[2020-04-28 16:55] #106 closed

[2020-05-09 09:28] rsyncOSX opened #274 "Sequrity alerts.."
Hi Bud, thx for a great theme. I am using the theme for documentation https://rsyncosx.netlify.app/ ..

I have two questions (and zero knowlegde in Javascript coding)...

1. GitHub generates a few sequrity warnings when updating the theme? All of them about versions?
2. I would like to change the width of the text in posts? Where can I change it?

All the best,
Thomas

[2020-05-12 05:00] #274 closed

[2020-05-20 12:52] #153 closed

[2020-05-24 20:12] NRKirby opened #278 "RSS svg icon"
I love this theme, thank you!

Would it be possible to get an RSS svg icon? I would like one next to my Twitter icon! I see there are 13 social rss icons and I'm thinking having an RSS icon is something a lot of people might want..

Thanks again,  Nick

[2020-05-28 18:45] budparr commented on #278
Sure thing.

We can use this icon https://material.io/resources/icons/?search=rss&icon=rss_feed&style=baseline

[2020-06-01 13:52] thierrybo opened #280 "search do not work (extra slash)"
Hi,

as you can see on the demo site https://themes.gohugo.io/theme/mainroad/
if you search `pectoribus` there is no result because the search string is
`pectoribus site:https://themes.gohugo.io//theme/mainroad/`
instead of
`pectoribus site:https://themes.gohugo.io/theme/mainroad/`

[2020-06-01 17:41] budparr commented on #280
Hi @thierrybo I don't understand what your issue has to do with the Ananke theme. Can you explain?

[2020-06-01 19:51] #278 closed

[2020-06-02 15:06] thierrybo commented on #280
is it not the AnaNke theme that generates the url to search for google?

[2020-06-02 23:14] budparr commented on #280
The link you're pointing to is not Ananke, no, and it's not related to themes.gohugo.io

[2020-06-03 14:19] regisphilibert commented on #270
You're going to be a bit more explicit here. Thanks.

[2020-06-03 14:31] regisphilibert commented on #265
Yes the `omit_header_text` key is only used for Regular Page by default. In order to benefit from it on list pages  all you have to do though is copy/paste the `posts/list.html` file into your projects layouts directory and add this at the top:
[code]

Also, make sure you have `featured_image`  set on `/posts/_index.md`.

[2020-06-03 14:31] #265 closed

[2020-06-03 14:32] regisphilibert commented on #253
See https://github.com/budparr/gohugo-theme-ananke/issues/265#issuecomment-638237225

[2020-06-03 14:32] #253 closed

[2020-06-03 19:03] #118 closed

[2020-06-03 21:26] #81 closed

[2020-06-04 21:54] mountainbug95 commented on #125
I believe this is related to #121

[2020-06-08 21:17] #280 closed

[2020-06-09 18:58] prdm0 opened #288 "Increasing the width of articles and justifying the text"
Hello, first congratulations on the theme. It is a clean and elegant theme. I am implementing the site https://prdm0.rbind.io/ and I have three questions:

1 - Is there any way to increase the width of the articles in order to allow longer sentences? How would it be?

2 - Is there any way to justify the texts? How would it be?

3 - I noticed that the images on my site warp a little when I see it o

[2020-06-11 01:51] prdm0 opened #289 "Eliminate top image shading"
Dear,

how to lighten the shading of the image that goes at the top of the page? I would like it to be close to the brightness and contrast original.

King regards,
@prdm0

[2020-06-12 01:15] prdm0 commented on #263
Any solution to this problem? I would also like to justify my text.

[2020-06-12 04:19] #289 closed

[2020-06-12 13:00] budparr commented on #289
@prdm0 Did you figure this out, or do you still need help? It can sometimes takes a bit of time to work through issues here.

[2020-06-12 15:57] prdm0 commented on #288
I managed to solve items 2 and 3. I did it in **custom.css** in `/static/css/custom.css`:

[code]
I still have doubts on how to solve item 1. I want to adjust the width of the posts.

Thank you.

[2020-06-13 16:01] CrocoDuckoDucks commented on #288
I am interested in this too.

In [my website](https://computational-acoustics.gitlab.io/website/) I managed to enlarge the text width by replacing `mw8` with `mw9` in `layouts/_default/single.html` and `layouts/index.html` (I copied the original files from the theme into the `layouts` folder at the root of my site and edited them, they will override the theme ones). The largest width should be `mw

[2020-06-13 16:26] prdm0 commented on #288
Solution

[2020-06-14 00:22] prdm0 commented on #263
Solution. Add in `/static/css/custom.css` the code:

[code]

.nested-links{

text-align: justify;

opacity: 1.0;

width: 100%;

height: auto;

}

My website: https://prdm0.rbind.io/

[2020-06-14 01:37] prdm0 opened #292 "Add support to highlight.js"
Dears,

how can I add support for **highlight.js**? I tried to follow [these](https://amber.rbind.io/2017/11/15/syntaxhighlighting/) steps but to no avail.

Kind regards,
@prdm0.

[2020-06-14 15:40] sumpfralle commented on #288
Regarding (1) (width of article text): it can be accomplished by replacing ` w-two-thirds-l` in `layouts/_default/single.html` with something like `w-90-l`. This raises the width of the article body from 66% to 90%.

The `mw8`/`mw9` class refers to the maximum number of characters in a line. Which of the limits (characters or relative width) is triggered first, depends on the screen width.

The us

[2020-06-14 23:20] prdm0 commented on #289
@budparr, thanks for responding. I solved the problem and ended up preferring the standard. I'm currently having trouble highlighting the code using **highlight.js**. See issues #292 . Are there any predictions of the theme for providing this support by default?

Kind regards,
@prdm0 .

[2020-06-15 04:51] prdm0 commented on #292
Add the code below at the top of the **page-header.html** file:

[code]

[2020-06-15 15:44] #292 closed

[2020-06-15 15:44] #288 closed

[2020-06-15 16:38] prdm0 opened #294 "Add search functionality"
Dears,

how to add search functionality? This is something that I think is very important, especially when the site increases in size.

[2020-06-15 17:15] budparr commented on #294
Hi @prdm0 That's a pretty complicated endeavor, though I agree it would be a good thing to have. I'll leave this open as a feature request and we'll see if we can come up with a good solution.

[2020-06-15 17:33] prdm0 opened #295 "Share post via whatsapp"
I don't know how it works in other parts of the world, but here in Brazil many subjects are shared via Whatsapp. It would be interesting to also allow this form of sharing for posts.

[2020-06-15 17:39] budparr commented on #295
We'll add this as a feature request. If you are technical, PRs are welcome as well. I don't know much about whatsapp, but the relevant partials are here:

https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/partials/social-share.html
https://github.com/budparr/gohugo-theme-ananke/blob/master/layouts/partials/social-follow.html

[2020-06-15 17:40] budparr commented on #292
Thanks for including your solution here for others.

[2020-06-15 18:08] prdm0 commented on #292
@budparr , see how it was clicking [here](https://prdm0.rbind.io/post/workshop-paraibano-de-estat%C3%ADstica-2020/). The code is at the bottom of the page.
Just add the code below in page-header.html:

[code]

For those who program in a different language of R, just change `r.min.js` for `language.min.js`, where `language` is the language of interest. If you want another theme, just change `defaul

[2020-06-15 20:52] prdm0 commented on #295
I tested the code below that I did and it worked. I just need to create a beautiful SVG file.

[code]

[2020-06-15 21:21] melvinsalas opened #296 "Improve localization (op: Change date language)"
Hi,

I configure a project with spanish as main language

[code]

but the date is showed in english

![](https://user-images.githubusercontent.com/708747/84707349-c5755400-af1b-11ea-82d9-6b055d72426a.png)

How can I change it?

[2020-06-15 21:35] prdm0 commented on #295
Is it the SVG file that is sensitive to mouse placement?

[2020-06-15 21:55] melvinsalas commented on #295
I'm not an expert on svg, but i draw this:

[code]

[2020-06-15 22:14] prdm0 commented on #295
@melvinsalas and @budparr, I did it but SVG doesn't have the effect when I put the mouse on top, just like with twitter and facebook icons. See [here](https://prdm0.rbind.io/post/workshop-paraibano-de-estat%C3%ADstica-2020/).

The good news is that my code works to share a post via whatsapp.

[2020-06-15 22:24] prdm0 commented on #295
I saw that the animation when placing the mouse on top is not made by the SVG file, there must be some HTML or CSS configuring this. I will search.

[2020-06-15 22:26] melvinsalas commented on #295
Did you add the `.whatsapp` class into _social-icons.css?

<img width="513" alt="CleanShot 2020-06-15 at 16 22 57@2x" src="https://user-images.githubusercontent.com/708747/84711888-90213400-af24-11ea-9acc-88131812907e.png">

First, add `.whatsapp` into the first line to change color from black to gray.

Then, add the `:hover`, something like this:

[code]

Good luck!

[2020-06-15 22:37] prdm0 commented on #295
It remains black. My file is:

[code]

I think the SVG should be transparent.

[2020-06-15 22:50] budparr commented on #295
We will have a look for you all, but might take us a few days.

cc: @regisphilibert

Here's a good SVG source. https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/brands/whatsapp.svg

[2020-06-15 22:53] melvinsalas commented on #295
@prdm0, I think you need to rebuild de css files.
@budparr, When you make a change on css, What command you run?

[2020-06-15 22:55] budparr commented on #295
One of these scripts in the package file (in /src) should work: https://github.com/budparr/gohugo-theme-ananke/blob/master/src/package.json

[2020-06-15 22:58] prdm0 commented on #295
@melvinsalas I think so, I think there should be something in chache. I think we are close to the solution.

[2020-06-15 23:00] melvinsalas commented on #295
[code]

on src folder, works to me 👍

[2020-06-15 23:17] budparr commented on #296
We have plans to do more localization of the theme. I'll leave this open.

[2020-06-15 23:22] prdm0 commented on #295
It worked for me too. Now I have my website sharing the posts correctly for whatsapp. I'm an R programmer and all of this is new to me. I use Hugo through the R blogdown package: https://bookdown.org/yihui/blogdown/

It's working beautifully as you can see [here](https://prdm0.rbind.io/post/workshop-paraibano-de-estat%C3%ADstica-2020/).

Thanks to @melvinsalas and @budparr.

@melvinsalas , a doubt

[2020-06-15 23:24] budparr commented on #295
If either of you care to start a PR we can add to the theme for everyone to use. Otherwise, we'll add it soon ourselves.

[2020-06-15 23:37] prdm0 commented on #295
I sent it for evaluation. Whatsapp is good to stay as one of the sharing standards because it makes a post spread quickly.

Kind regards,
@prdm0

[2020-06-16 02:36] melvinsalas commented on #295
I searched a WhatsApp svg icon of the internet, anyone black/white works.
Then I used AdobeXD (free tool) and open a svg icon on the project, and found all icons are 60x60
Later, I used the Adobe tools to cut the WhatsApp icon into a 60x60 circle 😉 save the icon as svg and open with vs code, copy the path, and combine the structure with another icon on project.

[2020-06-16 21:58] peter-jerry-ye commented on #296
@melvinsalas I think you need to put "DefaultContentLanguage = "es"" in your configuration, as the example site did

[2020-06-16 22:00] peter-jerry-ye commented on #296
@budparr in your example site you are using "DefaultContentLanguage ="en"", does that means you are not using country code?

[2020-06-16 22:14] peter-jerry-ye commented on #296
By the way, I think this problem should be fixed by #291

[2020-06-16 22:54] peter-jerry-ye opened #298 "Add translation for taxonomy page"
Original version: Below you will find pages that utilize the taxonomy term “{{ .Title }}”

[2020-06-16 23:29] peter-jerry-ye opened #300 "Add sub section list to list pages"
Hello, I'd like to organize my blog something like this

- travel / china / xxx
- travel / france / xxx
- projects / java / xxx
- projects / scala / xxx

So I would like to have multiple level of sections, where each index.md can display its subsections.
Is it possible to add this feature? Thanks

[2020-06-17 22:29] budparr commented on #300
Hi @peter-jerry-ye Hugo respects your folder section out of the box, so I don't believe you need the theme to do anything special for you here. You might get more help in the Hugo forums on non-theme questions. I'll close, but feel free to open if you have more information.

[2020-06-17 22:29] #300 closed

[2020-06-17 22:31] #298 closed

[2020-06-18 16:21] peter-jerry-ye commented on #300
Hi @budparr ,
I do understand that Hugo handles well the folder section. What I don't understand is how we can get access to subsections from its parent. I mean, I could put a menu on the whole, but what if I want to present the subsections on the page of parent section? For example, in the section 'Travel' (which is not home page), I'd like to present basic information for each country I've visit

[2020-06-18 19:59] prdm0 opened #301 "Page the same post."
Dear friends,

is it possible to add more than one page in the same post? Has anyone tried to do something similar?

Kind regards,
prdm0.

[2020-06-18 20:43] budparr commented on #301
I "think" there's a way to do page-based pagination, but I'm not sure. Probably best to check the forums for that one. Closing for now. Re-open if there's anything we can do on the theme end.

[2020-06-18 20:43] #301 closed

[2020-06-18 22:44] budparr commented on #300
@regisphilibert Might have ideas, but otherwise the forum is where you're likely to find a variety of opinions.

[2020-06-19 03:28] iUnknwn opened #302 "Set featured image automatically if cover image is present"
Currently, Anake seems to require featured images to be set in the front matter. This can create problems if a user want to organize images with an article into page bundles, since you can't access page bundle data from the front matter.

Both the internal twitter card and open graph templates solve this by searching for image files with "cover" or "thumbnail" in their names within a page bundle t

[2020-06-23 13:34] #302 closed

[2020-06-25 15:12] melvinsalas opened #306 "Netlify - Error: GetFeaturedImage.html:35:1: parse failed: template: GetFeaturedImage.html:35: function return not defined"
The Netlify deploy don't work with the last version of the theme since 2 days ago

<img width="611" alt="CleanShot 2020-06-25 at 09 07 45@2x" src="https://user-images.githubusercontent.com/708747/85746467-b6349a00-b6c3-11ea-9bcf-a8a4de67e549.png">

This is the error

<img width="1072" alt="CleanShot 2020-06-25 at 09 08 17@2x" src="https://user-images.githubusercontent.com/708747/85746537-c187c580-

[2020-06-25 15:30] regisphilibert commented on #306
Hello, yes we recently introduced a new returning partial. the `return` statement was introduced in Hugo 0.55.0, if you upgrade your version this should fix it for you.

In the mean time we'll bumb the min version of the theme to .55.

Thanks for reporting this.

[2020-06-25 15:36] regisphilibert opened #307 "Make it a Module"
init the theme as a Hugo Module (Go Module)

[2020-06-25 15:36] budparr opened #308 "Change Master branch to Main"
The current dicussion about the impact of the words we use every day on the social context is not trivial. Whitelist, blacklist, slave, master should be questioned as technology terms. We will investigate any issues this may cause, but intend to rename the branch `main`

[2020-06-25 15:41] melvinsalas commented on #306
Thanks!

I add the environment variable to `HUGO_VERSION` and the problem is gone.

<img width="515" alt="CleanShot 2020-06-25 at 09 39 56@2x" src="https://user-images.githubusercontent.com/708747/85751499-e0885680-b6c7-11ea-8c76-4fa9e8aa1667.png">

<img width="616" alt="CleanShot 2020-06-25 at 09 41 20@2x" src="https://user-images.githubusercontent.com/708747/85751748-0f9ec800-b6c8-11ea-8070-d153

[2020-06-25 15:41] #306 closed

[2020-06-25 17:59] budparr commented on #307
Being that modules are superior to Git Submodules and cloning or copying, this could be a nice feature. We should create it in such a way that the module is as easy to implement as possible for (relatively) non-technical users and we document steps as well as pitfalls (things to check if it doesn't work).

[2020-06-25 18:09] regisphilibert commented on #307
Hugo Module as a theme work just like other themes except they point to a repo. So I'm confident this will be very easy to use.

[code]

When you want to upgrade though, then, just like for a submodule, you need a manual intervention in the command line:
[code]

[2020-06-25 18:25] budparr commented on #307
But are there not implications for where one deploys the theme? Like for Netlify we have to specify a Go version, I think.

[2020-07-02 10:02] cmlnet commented on #233
Another possibility would be to change the line in page-header.html to use the GetFeatureImage function, which is already used for the summary with images:

`{{ $featured_image := partial "func/GetFeaturedImage.html" . }}`

Or do I miss something here?

[2020-07-06 06:47] melvinsalas opened #309 "Embellish post list"
Is it possible to add this features to the post list?

1) Show Post Image
2) Show date
3) Show less text

Or where can I change it and I'll add it on a Pull Request?

![CleanShot 2020-07-06 at 00 43 07@2x](https://user-images.githubusercontent.com/708747/86563724-20e6a080-bf22-11ea-9773-560edf615d91.png)

[2020-07-06 14:38] regisphilibert commented on #309
For 3. User can adjust summary length using the site configuration key `summaryLength`. Default is 70 I think.

[2020-07-08 10:02] h3ndrik commented on #289
for reference... you can add something like this to your config.toml:

[code]

[2020-07-09 20:33] Unique-Divine opened #310 "Styling Help: aligning text in the _index.md"
Which files do I need to edit in order to switch the page description to a left-aligned markdown instead of a centered one?

To be more specific, on [this page I'd like to make with the Ananke theme](https://unique-divine.github.io/projects/), having the "Table of Contents " portion of the `_index.md` left-aligned would allow me to make a more aesthetic table of contents. I apologize in advance fo

[2020-07-12 05:12] Bas-Man opened #311 "Ability to create submenus"
Hi,
I am new to Hugo.
I have been reading on how to create submenus in hugo.
I came across this link in my research https://codingnconcepts.com/hugo/nested-menu-hugo/
Unfortunately I have not been able to get a result.

Does this theme support sub-menus and if not could I request this feature?

Many thanks,

[2020-07-13 17:17] meerasndr commented on #306
I'm facing this exact same problem. Tried @melvinsalas 's workaround, but that gave me this error:

Any pointers?

[2020-07-13 17:21] melvinsalas commented on #306
It's because the URL is wrong.

The 0.73 URL is https://github.com/gohugoio/hugo/releases/download/v0.73.0/hugo_0.73.0_Linux-64bit.tar.gz

O the new one 0.74 https://github.com/gohugoio/hugo/releases/download/v0.74.0/hugo_0.74.0_Linux-64bit.tar.gz

[2020-07-13 17:22] meerasndr commented on #306
@melvinsalas I changed the env variable to 0.74.0. That worked. Thanks for the help.

[2020-07-13 17:33] budparr commented on #311
Hi @Bas-Man We'll discuss and get back to you. I'm pretty sure it's not possible at the moment.

[2020-07-13 17:42] JeromeMain opened #312 "Ananke - Blog page and Bullets"
I purchased Ananke. I imported the demo data. I have 2 issues:

1. The blog page has no navigation. The page came with the demo data. I did not create it. But it has no navigation at the top. See link below.

http://stratafin.co.za/blog/

2. I cant use bullets in my list. Bullets and numbers don't appear.
See link below.
http://stratafin.co.za/process/

[2020-07-13 17:57] budparr commented on #312
Hi @JeromeMain Thanks for reporting. We'll take a look at these. Do you have menu items set and they're not showing up?
It might be helpful if you shared your repo.

[2020-07-13 18:25] JeromeMain commented on #312
Hi. The site only has one menu. It shows on every page except the blog page for some reason.

[2020-07-13 18:26] JeromeMain commented on #312
I want the menu to show on all the pages

[2020-07-13 19:43] budparr commented on #312
The other pages are Ananke as well? We may not be able to help much without seeing your repository.

[2020-07-14 05:08] JeromeMain commented on #312
Hi. What is a repository? The entire site is Ananke. So the blog came with Ananke.

[2020-07-14 13:13] budparr commented on #312
Hi @JeromeMain I'm wondering if you have the wrong Ananke. This (our theme Ananke) is not a Wordpress theme and we don't sell it. If you purchased a theme I think it best you go to the folks you purchased it from.

[2020-07-14 13:15] #312 closed

[2020-07-15 14:09] Bas-Man opened #313 "Shortcode: youtube not show on page"
Hi.

I have just tried to add my first youtube link using the shortcode for youtube. Unfortunately it does not appear to work.
I found this reference.

https://rguske.github.io/post/youtube-hugo-shortcode-workaround-when-youtube-wont-work/
and this also https://github.com/eueung/hugo-casper-two/issues/5#

Is the youtube shortcode also broken with this theme?

[2020-07-15 14:26] budparr commented on #313
Hi @Bas-Man The youtube shortcode is a Hugo internal template, not a theme thing, but it works as far as I know. I used it just a few days ago. You might have better luck on the Hugo forums. However, If you can post a link to your repo we can have a look for you.

[2020-07-15 15:05] Bas-Man commented on #313
Ah. In that case I will test using HUGO_ENV set to production. It appears internal templates don't load if it's not built as production.
I will test tomorrow morning.
Thanks for the quick response.
I will let you know the result tomorrow.

[2020-07-15 15:38] budparr commented on #313
FYI: That's not so. The internal templates should load no matter the environment.

[2020-07-16 00:12] Bas-Man commented on #313
Regarding templates: There is some code in this theme to prevent things like google analytics, so I probably overly generalized. My mistake.

markdown code
[code]

generated html
[code]

I am running the following version:
Hugo Static Site Generator v0.73.0/extended darwin/amd64 BuildDate: unknown

I could of course just be making a simple mistake.

[2020-07-16 01:09] Bas-Man opened #315 "hugo -e production appears not work with this template."
Hi,

More a question at this stage. I have been looking into the difference between running:
HUGO_ENV=production hugo
and
hugo -e production

When I run the first option my google async is included in the build, but when I run with "hugo -e production" the async is not added

From the baseof.html line 8:
[code]

Running "hugo -e production serve" gives the following output
[code]
Note Environment

[2020-07-16 01:35] Bas-Man commented on #315
Some further investigation indicates that "hugo" run by it self is "production"

I will do some checking, but from this thread: https://discourse.gohugo.io/t/questions-about-hugo-environment-variables/17865/7
I will see if I can check a different envonrment variable during build.

[2020-07-16 02:14] Bas-Man commented on #315
Found here:https://discourse.gohugo.io/t/questions-about-hugo-environment-variables/17865

[code]
and
[code]

I will be changing this code on my site.

[2020-07-16 15:21] mustafasakalli opened #316 "Background image does not appear on main menu"
Hi folks,
I've been trying to do add background image to main menu as I saw theme's default page, but whenever I try it always looks like this.
![Screen Capture_select-area_20200716182124](https://user-images.githubusercontent.com/23080078/87689683-2ef1b800-c791-11ea-9ef1-0013a5f49293.png)

What should I do?

[2020-07-16 17:15] budparr commented on #313
I tried your video and it works for me. I published a page on the demo site with another video: https://gohugo-ananke-theme-demo.netlify.app/post/chapter-1/

[2020-07-16 17:15] budparr commented on #316
Hi @mustafasakalli I think we'd need to see your repo to help you.

[2020-07-16 17:19] budparr commented on #315
Hi @Bas-Man Is this safe to close or do you still have questions? If you think your work above might be helpful to others I may label it so people can find it.

[2020-07-16 18:46] mustafasakalli commented on #316
@budparr Hello Sir, here is my repo https://github.com/mustafasakalli/mustafa_blog. I must say the the picture I want to put the menu called "background.jpg"

[2020-07-16 20:50] Bas-Man commented on #315
Yes. Please close.
Labelling it would be a good idea.
It effects people who might be using a workflow to publish from a private repo to a public repo.

[2020-07-16 20:52] Bas-Man commented on #313
I have had to use a custom short code.
I will keep looking into it for a little while.

[2020-07-16 21:38] Bas-Man commented on #313
I think I have found my issue.
Related to privacy settings.
I will have to test later today to confirm.
I found it after looking at the actual YouTube template code.

[2020-07-17 01:06] Bas-Man commented on #313
Sorry. This was due my over zealous attempt to provide privacy.
in the config.toml I had added.

[code]
This can be closed.

[2020-07-17 01:53] #315 closed

[2020-07-17 01:54] budparr commented on #313
Glad you figured it out!

[2020-07-17 01:54] #313 closed

[2020-07-17 02:03] budparr commented on #316
Try changing https://github.com/mustafasakalli/mustafa_blog/blob/master/config.toml#L41:
from:
`featured_image = "img/background.jpg"`
to:
`featured_image = "/background.jpg"`

You need to have the forward slash before the file path to make it relative, and you had `img` but the image resides at the root (i.e. in the static folder, not `static/img`)

I'll close the issue, but feel free to open if

[2020-07-17 02:03] #316 closed

[2020-07-17 09:21] mustafasakalli commented on #316
Thank you my problem has been solved !

[2020-07-18 12:54] Bas-Man commented on #201
I would think the code to check production could be changed to
[code]
I use this on my site, which I have just started. I use this because I am using a github workflow to deploy. Its not convenient to pass HUGO_ENV to the hugo command and the template ignore the -e option.

[2020-07-18 19:04] homerhanumat commented on #306
Don't know if this is the best place to post this observation, but here goes:

For *deploy previews* (as opposed to production deploys) Netlify may be using an older version of Hugo.  At any rate I found that all of my deploy previews were failing precisely for the reason cited in this Issue, but taking a hint from the comments above I fixed the problem by adding the following to my `netlify.toml`

[2020-07-26 22:50] SDiamante13 commented on #263
This can be closed. It is working for me now! Thanks @prdm0!

[2020-07-26 22:50] #263 closed

[2020-07-28 13:36] pvonmoradi opened #318 "Problems in quickstart instructions"
I've created a hugo site. Followed the instructions to add the ananke theme. The instructions are incorrect. For example why in `config.toml` theme name is "gohugo-theme-ananke" where it should be just "ananke"? And the line `themesDir = "../.."` should be deleted but in instructions the wording was put in a way that it seems it is not necessary.

[2020-07-28 13:39] pvonmoradi opened #319 "Background image and some posts won't get loaded in remote view"
I'm reproducing the exampleSite of the theme. I can see the background image on header and all posts in my localhost. But in my phone, neither FF nor Chrome show that image. Also _some_ posts can't be seen on the phone. I guess this is also because of their featured image. Where is the problem?

I'm using the following command : `hugo server  --bind=0.0.0.0`
[The rendered website on localhost (PC)

[2020-07-28 18:13] budparr commented on #318
The quickstart instructions appear correct to me. Are you speaking of these: https://gohugo.io/getting-started/quick-start/ ?

[2020-07-28 18:13] budparr commented on #319
You'd need to share your repo for us to help you.

[2020-07-28 18:30] pvonmoradi commented on #318
@budparr no, I meant [https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/README.md#the-config-file](https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/README.md#the-config-file)

[2020-07-28 18:34] pvonmoradi commented on #319
It was creating by:
1- `hugo new site mysite`
2- initializing git
3- adding ananke theme
4- copy pasting /themes/ananke/exampleSite/ to the root dir (so contents are created)
5- fixing the config.toml
It is a reproduced build of the instructions and exampleSite

[2020-07-28 18:35] budparr commented on #318
I use "gohugo-theme-ananke" in the demo. Just make it whatever you name the folder.

[2020-07-28 18:37] budparr commented on #319
The demo (linked to in the readme) works. If you don't have a repo to share, perhaps make sure your setup matches that.

[2020-07-28 18:41] pvonmoradi commented on #318
Then shouldn't the instructions [here](https://github.com/theNewDynamic/gohugo-theme-ananke#installation) be updated to :
[code]

[2020-07-28 18:44] budparr commented on #318
The demo is really just a demo, not part of the instructions, and shows that there are several ways to do it. But I see your point, and I'll consider changing it.

[2020-07-30 08:08] SarthakNarayan opened #321 "My google analytics is not working"
I have the google tracking ID in config.toml file. Also, I run it as HUGO_ENV=production hugo server -D still active users are shown as 0. I am using github to host my website.  Please help I don't know why it is not working

[2020-07-30 12:50] budparr commented on #321
Hi @SarthakNarayan Can you share your repo, please? Also might be worth a check on the Hugo forums, because this sounds like a problem other may have had and solved.

[2020-07-30 13:00] SarthakNarayan commented on #321
https://github.com/SarthakNarayan/Website
This is my repo containing the Hugo files

[2020-07-30 13:22] budparr commented on #321
@SarthakNarayan Looks like you've commented out the theme's Google analytics and are using your own hard-coded Google analytics. The latter seems to be rendering. I can't really help you troubleshoot your own GA implementation, only things that have to do with the theme.

[2020-07-30 13:22] #321 closed

[2020-07-30 13:33] SarthakNarayan commented on #321
I have tried the one that comes with the theme but it didn't seem to work for me. You can try it out. This forced me use other methods as mentioned in forums.

[2020-07-30 13:36] budparr commented on #321
I uncommented the theme's Google analytics and it works fine for me.

![Screen Shot 2020-07-30 at 9 35 12 AM](https://user-images.githubusercontent.com/115347/88929334-fe595600-d247-11ea-9188-f991e615608c.jpg)

[2020-07-30 13:36] budparr commented on #321
that's running the command you posted: `HUGO_ENV=production hugo server -D`

[2020-07-30 13:39] SarthakNarayan commented on #321
So I should either uncomment script given by Hugo or replace my code by above
![image](https://user-images.githubusercontent.com/42849256/88929779-37211b80-d298-11ea-9fb0-eb7d381f23c3.png)

[2020-07-30 13:42] budparr commented on #321
I can't comment on the Google Tag manager code. I can say that this:

[code]
appears to work as intended.

[2020-07-30 13:49] SarthakNarayan commented on #321
I did whatever you told me to do
![image](https://user-images.githubusercontent.com/42849256/88930769-8a479e00-d299-11ea-8d76-1b6a44dcad17.png)
My site is also open on local host. Still no active users
![image](https://user-images.githubusercontent.com/42849256/88930797-97fd2380-d299-11ea-8da8-42f0a3921823.png)

[2020-07-30 13:56] budparr commented on #321
You're only running it on localhost? Why don't you try putting it up on a server. GA may take some time to register. They have a place in the admin panel to let you know if the code is being picked up, which is a better way than trying to see active users from localhost.

[2020-07-30 13:59] SarthakNarayan commented on #321
Forums said it should also work on localhost and I tried deploying it on github and then testing it but still no views were registered. The spike in the above image is at the time when you were running my site using my track id I guess. But I will try what you said.

[2020-07-30 15:09] SarthakNarayan commented on #321
Sorry for the trouble. I got it figured. I was using brave browser and it was disabling js. On switching to chrome and firefox it worked perfectly fine.

[2020-08-01 14:51] Bas-Man opened #322 "Google search console mobile, 'content wider than screen'"
Hi,

I am getting a report from google that some of my site content is too wide for mobile screens.
I think I have narrowed this down to my code snippets where I use back ticks and language marker to give a \<code> rendering. It appear the text does not wrap at all.

I have found that using the backtick causes the site to create a \<pre> block around the code snippet.
And from this link on stack o

[2020-08-01 16:31] budparr commented on #322
Hey, @Bas-Man Thanks for bringing this to our attention. We'll check it out.

[2020-08-07 03:30] mkz71 opened #323 "featured_image is not showing in Netlify"
I have featured_image in markdown files.
When I build this in local machine, the image is shown up fine.
But when I deploy it to Netlify, there is no image shown up.
Not sure I have any wrong setup.

[2020-08-07 13:24] budparr commented on #323
Hi @mkz71 Can you share your repo, please?

[2020-08-07 14:03] mkz71 commented on #323
@budparr please check it here, https://github.com/mkz71/quickstart

[2020-08-07 14:06] budparr commented on #323
Oh, sorry. Can you also point me to the URL on Netlify?

[2020-08-07 14:14] mkz71 commented on #323
https://jtk.netlify.app

[2020-08-07 14:35] budparr commented on #323
Ah, I see now. You have example.org in your config file:
`baseURL = "http://example.org/"`
You should change that to your actual URL

[2020-08-07 14:54] mkz71 commented on #323
Wow, it is working now.
I didn't know that we need to update the baseURL too.
Thank you!

[2020-08-07 14:55] #323 closed

[2020-08-07 17:33] mkz71 opened #324 "site_logo not working on other pages"
I add site_logo to config.toml but it is only working on homepage, not other pages.

Please check this links..
https://github.com/mkz71/quickstart
https://jtk.netlify.app/

[2020-08-07 18:17] budparr commented on #324
Change

`site_logo = "img/tiktok-logo.svg"`

to

site_logo = "/img/tiktok-logo.svg"

Note, I've added a slash to the image path.

[2020-08-07 18:17] #324 closed

[2020-08-08 16:40] mkz71 opened #325 "Can we set body color on each page?"
Is it possible to set body color for each page instead of setting only one color for the whole site
in config.toml under body_classes parameter?

Please check this links..
https://github.com/mkz71/quickstart
https://jtk.netlify.app/

[2020-08-10 13:40] budparr commented on #325
I believe you should be able to add a `body_classes` param to any page.

[2020-08-10 14:04] mkz71 commented on #325
You are right.
I add body_classes to front matter and it is working. Thank you!

[2020-08-10 14:19] #325 closed

[2020-08-11 13:08] mkz71 opened #326 "Google Analytics"
Where should I add this line of code to Ananke theme?

`{{ template "_internal/google_analytics.html" . }}`

[2020-08-11 13:14] budparr commented on #326
It's already there (though we use the async version) https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/layouts/_default/baseof.html#L43

[2020-08-11 13:14] budparr commented on #326
Just note to use it: https://github.com/theNewDynamic/gohugo-theme-ananke#production

[2020-08-11 13:18] mkz71 commented on #326
Oh, I see so I just need to add my GA id in the config.toml file and set the site to production, correct?

[2020-08-11 13:21] budparr commented on #326
Yep

[2020-08-11 13:55] mkz71 commented on #326
When I test this at my local server, it is not working but it is working fine on Netlify.
Is this normal?

[2020-08-11 13:57] budparr commented on #326
yes. You don't want to be collecting stats on your local server

[2020-08-11 13:58] mkz71 commented on #326
I see. Thank you!

[2020-08-11 13:58] #326 closed

[2020-08-11 15:00] mkz71 opened #327 "Social Share for Instagram"
I would like to remove social share for Linkedin in this code with social share for Instagram.
Anyone has the code for Instagram that I can use?

https://github.com/theNewDynamic/gohugo-theme-ananke/blob/d7b7d138c86bb3586feb76a11ffcd627d1439d9c/layouts/partials/social-share.html#L21

[2020-08-11 21:40] mkz71 opened #328 "How Tag and Related Pages work?"
I look at these two pages and they are both tagged with "scene" tag but how come only the first link shows  related page on the right?

https://themes.gohugo.io//theme/gohugo-theme-ananke/post/chapter-4/
https://themes.gohugo.io//theme/gohugo-theme-ananke/post/chapter-1/

[2020-08-11 21:59] mkz71 commented on #327
Just realize that we can't share a link to Instagram

[2020-08-11 21:59] #327 closed

[2020-08-12 14:31] budparr commented on #328
Hey, @mkz71 those links aren't working for me

[2020-08-12 14:52] mkz71 commented on #328
@budparr Please check if they are working now.

[2020-08-13 13:30] budparr commented on #328
could be because we don't have Related content configured on the example site https://gohugo.io/content-management/related/#configure-related-content

we'll have a look at it soon. Thanks!

[2020-08-13 13:47] mkz71 commented on #328
I have the same issue on my site.
Please see the links below..

https://jtk.netlify.app/posts/tomkha/
https://jtk.netlify.app/posts/tomyum/

[2020-08-13 21:19] mkz71 opened #329 "Background Color of Post List"
How can I change the background color of post list?
Please see example link below. It has white background in each post.

https://jtk.netlify.app/posts/

[2020-08-13 22:10] mkz71 commented on #329
Ok, I think I find out the place to change it now.

https://github.com/mkz71/jtk/blob/87332506ad411d9661cc83c16803fbe635dbc742/layouts/posts/list.html#L11

But if I want to do it for each post, where else can I do it?

[2020-08-26 05:20] junjieyuan opened #332 "wrong path of site logo cause 404 error in post pages"
Because of current site logo' path is ```./path/to/logo```, site logo can **only** loaded in **homepage**.

https://github.com/theNewDynamic/gohugo-theme-ananke/blob/03fd7d9da05db0928284b601d987c97556c6eb24/layouts/partials/site-navigation.html#L5

[2020-08-27 19:16] CSALS opened #334 "Description is not being displayed in the web page"
I followed the exact steps to install this theme but can't seem to figure out why the description is not being displayed in the web page.
Here is the config.toml in the root folder
[code]

And here is the result when I do ```hugo serve```
![hugo-issue](https://user-images.githubusercontent.com/31367352/91485088-e0732580-e8c7-11ea-895f-504cd3b9a4c0.JPG)
There's no description

[2020-08-28 07:41] mparmis opened #335 "Tab Order"
The tabs are ordered alphabetically, but I want to customize the order. Can you tell me how I can do that?

[2020-08-28 13:34] budparr commented on #334
Hi @CSALS Can you give us a link to your repo?

[2020-08-28 14:00] CSALS commented on #334
@budparr here you go https://github.com/CSALS/testblog
It's just the standard boilerplate created using Hugo. I only added the theme

[2020-08-28 15:03] budparr commented on #334
Thanks. It doesn't look like you have any content in your site. Try adding some content and putting the description there. The description in the config is for SEO meta tags as a default.

[2020-08-28 15:06] budparr commented on #335
Hi @mparmis Following up here rather than email so others can benefit from the conversation.

I suggested

and that seemed to work for you:

The lowest number is `0` so adjusting for that, see if that helps. Otherwise, paste a link to your repo and we'll have a look.

[2020-08-28 15:08] CSALS commented on #334
@budparr The demo shows the description in the web page itself. Where should I add the description to display it on the web page?
![image](https://user-images.githubusercontent.com/31367352/91583092-53cf7280-e96e-11ea-9768-9d16d425e143.png)
Here is the demo image. The description is "The last theme you will ever need"

[2020-08-28 15:16] budparr commented on #334
Have a look at the examplesite folder. The description there is in the `_index.md` file, which is the home page.

[2020-08-28 15:25] CSALS commented on #334
Oh, thanks. I think you should regarding this in the documentation. AFAIK there is no mention of this file.

[2020-08-28 15:54] budparr commented on #334
Glad it worked for you. We'll have a look at the docs!

[2020-08-28 15:54] #334 closed

[2020-08-31 00:08] Bas-Man commented on #247
I have worked around this by doing the following in _default/single.html
[code]

I have also used
[code]
I have not fully settled on my solution though.

[2020-09-01 15:19] mparmis commented on #335
Hi Bud,
The issue is was solved by putting 0 for the last page. Thank you.

[2020-09-01 15:51] #335 closed

[2020-09-01 15:51] mparmis opened #336 "Improve documentation on: Link icons in article pages"
For the Articles page, each article has a twitter, facebook, and linkedin link. I can't find where in the code I can change or delete those link icons.

[2020-09-01 15:55] budparr commented on #336
Hi @mparmis We should make this more clear in the documentation. You can add or remove those by putting in their respective links in the config file. Here's the example: https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/exampleSite/config.toml#L18

[2020-09-01 16:08] mparmis commented on #336
Hi @budparr changing the links in the config file only changes the link icons at the top right of each page. However, there are also link icons in each article (right above the articles title), and I can't find where I should change those.

[2020-09-01 16:10] budparr commented on #336
Can you show me an example?

[2020-09-01 16:15] mparmis commented on #336
This is from the example site
![hugo](https://user-images.githubusercontent.com/35639740/91878088-adb48e80-ec33-11ea-8a33-8738c0a61ef3.JPG)

[2020-09-01 16:47] budparr commented on #336
Oh, those are the sharing icons.
If you want to disable them, there's a parameter `disable_share`

Or, the template to change them is here: https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/layouts/partials/social-share.html

[2020-09-01 17:03] mparmis commented on #336
It worked. Thank you.

[2020-09-01 17:05] #336 closed

[2020-09-03 02:26] qidai628 opened #337 "How to display post summary for Chinese articles?"
I am writing posts in Chinese. I find on post list, the whole article, instead of the summary, will display with a more button. It makes the post summary too long. How can I display a proper post summary for Chinese articles?

[2020-09-03 03:05] qidai628 commented on #100
What's the difference between "/layouts/partials/site-header.html" and "/layouts/partials/page-header.html"? I added "omit_header_text = true" in "_index.md", but failed to omit the title and description on front page's background image. Then I removed the h1&h2 html code segment in "/layouts/partials/site-header.html", however the background image was cut off from bottom.

[2020-09-03 18:11] regisphilibert commented on #337
Hi there.

Not sure to understand, is it the whole post? Or the post with a more button?

[2020-09-03 18:14] regisphilibert commented on #337
Do you have `hasCJKLanguage` set to true in your config? From [doc](https://gohugo.io/getting-started/configuration/):

If true, auto-detect Chinese/Japanese/Korean Languages in the content. This will make .Summary and .WordCount behave correctly for CJK languages.

[2020-09-07 22:15] mparmis opened #339 "Make part of texts bold"
Is it possible to make part of the texts in article descriptions bold?

[2020-09-08 12:29] budparr commented on #339
Hi @mparmis I think this is the template you'd need to copy (into your own `layouts/partials` folder) https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/layouts/partials/page-header.html#L12

And add the class `b` to the others there. http://tachyons.io/docs/typography/font-weight/

That should work!

[2020-09-09 18:58] frankieliu opened #340 "toc placement and style"
I am using asciidoctor to generate content from .adoc files and it can creates a `<div class="toc2">` (attached below)

There is also a style-sheet (from asciidoctor) that allows one to have a toc that looks like the following:

http://themes.asciidoctor.org/preview/

I am including this style sheet with my [params] custom_css = ['....'] in config.toml
[asciidoctor.css.zip](https://github.com/theN

[2020-09-09 21:26] frankieliu commented on #340
Looking at it more closely, it seems that the best place to modify is single.html.

That is, keep the header and tags and remove the menu-contextual, and play around with the div right below the header in the main section.   -- would you recommend doing surgery there?

[2020-09-09 21:33] RoninTech opened #341 "How to change max width of text area?"
As you can see here:

[https://themes.gohugo.io//theme/gohugo-theme-ananke/](https://themes.gohugo.io//theme/gohugo-theme-ananke/)

The section that reads: "Welcome to my blog with some of my work in progress...." is very narrow on a big screen.  What do I need to change so that the text uses up a bigger portion of the screen width?

Thanks!

[2020-09-10 14:39] budparr commented on #341
Hi @RoninTech You can copy this template into your `layouts` folder: https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/layouts/index.html#L2 and adjust the classes in line 2. You'll find reference for classes here: https://tachyons.io

[2020-09-10 14:39] #341 closed

[2020-09-10 14:40] budparr commented on #341
I should note that it is `measure-wide` that constrains the width of that copy.

[2020-09-10 14:45] budparr commented on #340
Hi @frankieliu It looks like you're taking the right approach. I'll close for now, but let us know if you have any more questions.

[2020-09-10 16:49] RoninTech commented on #341
Thanks Bud, it's much appreciated!  Changing measure-wide in my themes layouts/index.html:line2 to mw8 or mw9 gets it closer to what I want.  I'm surprised we can't get a better resolution on possible width changes than just mw1 through mw9, of which mw1 to mw6 are smaller than the original setting.  Something on the order of pixel/em/% resoluion changes would be nice.  Is this a limitation of Tac

[2020-09-10 16:54] budparr commented on #341
I see it as a constraint, not necessarily a limitation, but yes, mw9 is the largest. http://tachyons.io/docs/layout/max-widths/

[2020-09-14 21:41] RoninTech opened #344 "What determines items showing up in main page "Recent Articles"?"
I'm migrating my [ronin-tech.com](https://www.ronin-tech.com) from Google sites to hugo.  I have 3 "categories" of posts:
"Van Life", "Travels", "Articles" and "Packs".  My Google Sites "Articles" category was randomly named but it appears to have special meaning in Hugo.  All these pages are "articles" in my mind and I would like them to show up in the "Recent Articles" list on the main page.  Fo

[2020-09-14 22:03] RoninTech commented on #344
Awesome!  Ok, found out I wasn't looking at closed posts. and found a reference to adding mainSections to params in config.  So I've added:

mainSections = ["travels", "van-life", "articles", "packs"]

To my config.toml and now I see posts from the 4 categories all under the title "Recent Our Travels" which is the name of the first category.  Should I just hard code the title to be something that

[2020-09-14 22:29] KIRTISNIGDHA commented on #263
Hi
I a still struggling to justify the posts. I tried following your suggestion. Can you please provide me more instruction on what should I do after creating the CSS file. Thank you.

[2020-09-15 12:14] budparr commented on #344
Glad you found it. Closing for now. Thanks1

[2020-09-15 12:14] #344 closed

[2020-09-16 15:33] panssystem opened #346 "Pass variables to head-additions.html"
I'm trying to use Azure Application Insights in my site, and to do that well, I'd like to be able to use conditions in the head-additions.html.

I know all it takes is to add the . in the Partials call, but I'm trying to use as a module, so it would be a nice-to-have for me.

[2020-09-22 13:33] budparr commented on #346
A few ways to do this, but the partial is wrapped in block tags so can easily be overwritten in templates:
`{{ block "head" . }}{{ partial "head-additions.html" }}{{ end }}`

`{{ block "head" . }}{{ partial "ANYTHINGl" }}{{ end }}`

[2020-10-06 05:22] peter-jerry-ye opened #349 "Add commonly used elements to footer"
It seems to me that there are something quite common for footer. For example, for tech blogs, many people choose a creative common license for the content and one of the many licenses for the code. It is also quite common to pay tribute to Hugo and a service provider such as Netlify, and you, of course.

While I can totally do it by myself by copying the site-footer.html and make these changes, I

[2020-10-06 12:05] budparr commented on #349
Hi @peter-jerry-ye This is a good idea. We'd have to think about how to do it that can be left vague enough for people to put in whatever they want. Not sure how quickly we'd do this, so for the moment it would be best for you to put a copy of https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/layouts/partials/site-footer.html in your layouts/partials folder and adding what you like

[2020-10-07 12:32] panssystem commented on #346
Thanks @budparr , I'll try to spend some time on it and see what I can do.

I know when I did a first-pass, head was defined elsewhere so it gave an error, but I'm sure I can work around that somehow.

What's the reason for not passing variable to head-additions partial though? Is there some deep reason I'm not aware of?

[2020-10-07 12:40] budparr commented on #346
@panssystem It's in there now: https://github.com/theNewDynamic/gohugo-theme-ananke/pull/348/files#diff-0c8f747dec0e7ca5148ebe8907cfc781R46

I'll close for now. Re-open if you need anything else. Thanks!

[2020-10-07 12:40] #346 closed

[2020-10-07 18:29] DazWilkin opened #350 "Bing Webmasters tools complains: Meta Description tag missing""

[2020-10-07 18:31] budparr commented on #350
Hi @DazWilkin You should update your Ananke to the latest version. The tag is there now.

Thanks!

[2020-10-07 18:31] #350 closed

[2020-10-07 18:40] DazWilkin opened #351 "Bing Webmasters tools complains: "Meta Description tag missing""
IIUC, this is correct in that there is no `<meta name="description" content=...>` tag added by the theme.

There are however (in my case), 2 other meta descriptions:

[code]

In an attempt to avoid the Bing error, I added the following to `baseof.html`:

[code]

Q1: Is this the best place to add this?

I had tried it in `head-additions.html` but that page appears to not process template content co

[2020-10-07 18:42] budparr commented on #351
As I mentioned in your last issue. https://github.com/theNewDynamic/gohugo-theme-ananke/releases/tag/v2.6.6

[2020-10-07 18:42] #351 closed

[2020-10-07 18:50] DazWilkin commented on #351
Apologies for the dupe. Thank you!

[2020-10-10 12:02] stenius opened #352 "Paginated Archive for mainSections users"
Hey @budparr, I'm building a site with several different content sections and on the main page, I want to have a link that takes me to an archive of all different sections.

Right now, if I have `.Site.Params.mainSections` set, the link only takes me to the first section.

I would like to change it so that link takes me to a paginated page with a complete archive from all sections.

Would you acce

[2020-10-12 13:37] budparr commented on #352
That sounds pretty specific to your use-case, @stenius I think it would be better if you just used your local template override for this. @regisphilibert Any thoughts?

[2020-10-12 13:40] stenius commented on #352
Yeah, that's what I ended up doing, but I figured if other people were
displaying multiple sections, they'd assume the "more" button would include
the same content, and not different content, paginated.

I'd need help with a pr review if this is something you want.

On Mon, Oct 12, 2020, 9:37 AM Bud Parr <notifications@github.com> wrote:

[2020-10-14 08:22] pmorch commented on #233
This is only part of the problem. Under "Recent Posts", there is a similar line in `layouts/partials/summary-with-image.html`. However, replacing that line with `{{ $featured_image := partial "func/GetFeaturedImage.html" . }}` or `{{ $featured_image := string (path.Join .URL $featured_image) }}` *doesn't* work.

So for the time being, I have a `static/featured_images/` folder where I store the fea

[2020-10-18 18:47] jan-xyz commented on #257
This sounds really awesome! I contributed the current implementation, and would like to know more as to what the plan is, and if I can support again or do something?

[2020-10-21 13:20] Hometown2020 opened #360 "Large blank behind some short articles in the display box"
When the length of the article is relatively long, the article page is very long, which will lead to a large blank behind some short articles, affecting the reading experience. I want to know how to modify the CSS file so that the height of the display box can be controlled within the appropriate range?

[2020-10-22 12:00] budparr commented on #360
Hi @Hometown2020 Can you show me a screenshot of what you mean? I'm not sure I understand.

[2020-10-22 12:55] Hometown2020 commented on #360
![blank](https://user-images.githubusercontent.com/60468640/96874255-81392800-14a8-11eb-889c-6134bb940b8d.jpg)

Hi, the problem is just like this. You can see that there are a lot of blanks left behind the two articles on the left.

[2020-10-22 12:59] budparr commented on #360
Those blocks are meant to expand to the content. If you manually shorten them, you'll cut off the content. I think you'd be better off using a description field to control what is displayed there. Check out this page: https://gohugo.io/content-management/summaries/#readout

[2020-10-22 13:23] Hometown2020 commented on #360
OK. I have solved the problem. Thank you for your help!

[2020-10-22 13:41] budparr commented on #360
Great!

[2020-10-22 13:41] #360 closed

[2020-10-31 06:47] peter-jerry-ye opened #362 "Make background image responsive"
There's only one url for each image in css. Is it possible to add media query for responsive images? Does it require a standalone css file?
Thanks.

[2020-11-01 19:00] harish0201 opened #364 "Changing the transparency of the image in the home page"
Hi,

I have created a header imagep, which has a transparent background, that I have placed at the home page behind the title. (similar to the gohero image)

Is it possible to add a background color to the image? Say red or yellow or whatever color? Such that the image takes the background color of the page?

Thanks!

[2020-11-07 23:28] mikenguyen13 opened #365 "refer to pdf or word doc"
Hello,
I don't know if this is more like an issue or question. But I was wondering if there is a way I can refer to a document in either pdf or word. For example, I would like to include the word "CV in **PDF** and **Word**" and then link them to the documents. So where should I store the documents and how to should code it?

[2020-11-13 19:53] bennoOoOOooOoOoo commented on #362
Need this :)
me too, me too :D

[2020-11-14 16:12] CrocoDuckoDucks opened #366 "SVG Featured Images Shown in the Post page but not in the Home Page"
Hi! I am using this great theme for my website: https://computational-acoustics.gitlab.io/website/

As the title says, I am running into an issue with the SVG featured image for the "Intro to meshio" post. As you go to the home page you will see that the featured image is blank, but it is correctly displayed in the [article](https://computational-acoustics.gitlab.io/website/posts/20-intro-to-meshi

[2020-11-15 09:37] matteoredaelli opened #367 "Adding google adsense"
I'd like to add google ad sense script somewhere...

Thanks
M

[2020-11-30 21:09] mymojoh22 opened #369 "Automatic Plural on Navigation Links"
Thank you for creating and making available such an awesome theme! I'm having some issues with the navigation link, though, that I can't figure out if it's from the ananke code or my own computer... Every time I go on terminal and add a new site page, it shows up with an "s" at the end of it on the navigation links (top right corner). For ex., I'd put `hugo new dir1/a.md` in terminal, which create

[2020-12-11 18:44] budparr commented on #367
You can create a partial called `head-additions.html` (so, `layouts/partials/head-additions.html`) and add your code there.

[2020-12-11 18:44] #367 closed

[2020-12-11 18:45] budparr commented on #365
I think this is more of a question for the Hugo forums: https://discourse.gohugo.io

[2020-12-11 18:45] #365 closed

[2020-12-11 18:45] budparr commented on #369
I'm not sure. Can you share your repo?

[2020-12-11 18:50] budparr commented on #366
Changed title from "SVG Featured Image Shown in the Post page but not in the Home Page"

[2020-12-11 18:51] budparr commented on #366
Thanks for reporting. As you point out, I think it's because we're not more explicit with the image dimensions.

[2020-12-13 17:44] DanielRuf opened #370 "Move footer to bottom and make main full height with flexbox"
The pb7 trick is not that ideal. You can move the footer to the bottom with the following:

[code]

See also https://css-tricks.com/couple-takes-sticky-footer/

[2020-12-17 08:38] Bas-Man opened #372 "Google New Analytics Tag support"
Google has launched a new gtag.js Global tagging system.

Will this be added as a new option for Google analytics?

[2020-12-17 13:52] budparr commented on #372
Hi @Bas-Man. We use the Hugo tag, so that would be answered there.

[2020-12-17 13:52] #372 closed

[2020-12-19 13:04] ariznaf commented on #307
I have tried to follow the instructions to use the theme as a hugo module but it does not work.

I have tried to use
hugo init github.com/theNewDynamic/gohugo-theme-ananke

and  I tried too
hugo init github.com/theNewDynamic/gohugo-theme-ananke

There is no erro message, but when I try to config the theme in my config.toml file  like this:
theme = ["github.com/theNewDynamic/gohugo-theme-ananke"]

[2020-12-19 13:13] ariznaf opened #373 "Pleas add a dark theme option"
I suppose that would be an easy task if you know how the CSS classes are organized.

But I have tried to change the background to a bg-near-black color and it is not so easy.

The background changes but the letter colors are quite dark to be read in many places.

I have tried to change the forground colors like this:

[params]
  background_color_class = "bg-black"
  body_classes = "bg-near-black"

[2020-12-19 14:56] regisphilibert commented on #307
Hi @ariznaf. This issue is outstanding as we still have to make sure the Go version set on the module is not going to be problematic. So the doc is wrong as this needs to be imported as a repo rather than used as a theme.

While this issue remains open you should actually.
1. init you own project as a Hugo Module: `hugo mod init {your repo url}
2. Import the repo through your module config setting

[2020-12-19 14:59] regisphilibert commented on #307
Hi @ariznaf. It's actually your own repo which needs to be "init" as a Hugo Module.
From the root dir:
`hugo mod init {your project's repo URL}`

[2020-12-19 16:33] ariznaf commented on #307
I am not sure to understand the answer.

I have tried to do:

hugo mod init https://github.com/ariznaf/mygithubsiteforHugo

And thet the init for ananke theme too.

But the problems remain.

For now I am using git submodules that work well.

But using hugo modules and being able to upgrade without having to worry about the theme in my git repository seems a good solution.

[2020-12-19 17:42] regisphilibert commented on #307
Could you add me to the repo or create a temporary public one for me to take a look?

[2020-12-19 18:14] ariznaf commented on #307
Thank you.
I have added you to the Hugo site.

It has nothing special, just Hugo site with ananke theme (and some tries to configure sections in content).

[2020-12-19 18:22] regisphilibert commented on #307
See this branch: https://github.com/ariznaf/fuentes-arizna-alzu.org/tree/ananke-as-module

All I did was

1. `hugo mod init github.com/ariznaf/fuentes-arizna-alzu.org/tree/ananke-as-module` which created the `go.mod` file.
2. And the other changes to the config file which are commited.

[2020-12-19 18:29] ariznaf commented on #307
Thank you.
My hugo version is the last, I have installed it a couple of days ago.
Hugo version says 0.79/extended

I am a bit confused with what you tell me to do.

The point of using ananke theme as a go mod in hugo is not having to install it under your themes directory as a submodule, and let you upgrade it easily, isn't it?

The alternate way (previous way of doing things) is using the theme a

[2020-12-19 18:49] ariznaf commented on #307
OK, I had missed the point.

I thought the hugo mod wast going to be take from my repository under themes/ananke.

But I cannot see any change to the code in the ananke-as-modules branch. It is even with master.

Have you commited the changes to github?

[2020-12-19 18:51] regisphilibert commented on #307
I had not sorry about that :(

[2020-12-19 18:53] ariznaf commented on #307
Haha... I am quite new to github and git too, so I was getting mad thinking I had not been able to pull changes.

Thank you.

[2020-12-19 19:01] ariznaf commented on #307
Well I pulled your branch and did as demanded, but the error continues to be the same.

Here is the output:
![image](https://user-images.githubusercontent.com/57560645/102697241-ad68ef00-4234-11eb-90ff-2d4a6b85436b.png)

And here a cut from the screen showing config section in config.toml

![image](https://user-images.githubusercontent.com/57560645/102697258-d5585280-4234-11eb-92c0-b29bb34c10d6.pn

[2020-12-20 05:07] gcnyin opened #374 "`featured_image` doesn't work"
hugo version: Hugo Static Site Generator `v0.79.0`/extended darwin/amd64 BuildDate: unknown.

---

I put the image in the `static/images` directory, and added it in the post with `featured_image: /images/xxx.jpg`.

When I run hugo in local mode with `hugo serve -D`, the image is correctly shown in the post page.

But if I build the website with `hugo` command and host the website with nginx static

[2020-12-20 07:53] gcnyin commented on #374
I saw in the generated html, the `header` is using `style="background-image: url('images/xxx.jpg');"`, but is should be `style="background-image: url('/images/xxx.jpg');"`, adding a `/` before `image/xxx.jpg`

[2020-12-20 15:48] regisphilibert commented on #307
The messages says "You need to install Go" > https://golang.org/doc/install

[2020-12-21 02:48] #374 closed

[2020-12-21 08:20] ariznaf commented on #307
OK, thanks. Now it works.

I had installed go, but I think I had forgotten to close and reopen the cmd windows from where I was running the commands, and it did not refresh the environment variables.

Thank you for your help.

[2020-12-21 13:02] budparr commented on #307
This looks resolved. I'll close for now.

[2020-12-21 13:02] #307 closed

[2020-12-25 10:09] DanielRuf opened #377 "link and meta tags are not self-closing"
Something else that I found: https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/layouts/_default/baseof.html#L33
link and rel are void elements and not self-closing.

See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta#Examples and https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link#Examples

I will try to provide a PR in a few days when I find the time.

[2020-12-25 10:13] DanielRuf opened #378 "robots metatag in uppercase"
Just wondering, is there a reason why this whole line is in uppercase?

https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/layouts/_default/baseof.html#L15

[2020-12-26 18:13] onedrawingperday opened #379 "Consider using Hugo Pipes for the CSS and adding functionality for custom CSS overrides"
Hello,

Since this theme is used for the Hugo Quick Start Guide please do consider updating the theme to use current Hugo features like Hugo Pipes for the CSS and not the output of a Webpack workflow. ref: https://github.com/theNewDynamic/gohugo-theme-ananke/blob/master/layouts/_default/baseof.html#L18-L21

Also please consider adding the ability for newbies to easily add Custom CSS .

Currently i

[2020-12-28 07:11] hellojinwoo opened #380 "Does Ananke support multilingul function?"
First of all, I would really appreciate for making Ananke, such a beautiful Hugo theme. I, however, have a question regarding Ananke's support for multi-langues.

__Question__
- Can multilingual mode, which has been discussed in several other issues, be supported in Ananke?
- If the multilingual support is not implemented yet, can you kindly give a walk through of how to set it up on Ananke?

__Mo

[2020-12-28 14:00] budparr commented on #380
HI @hellojinwoo Yes, you can use the theme with multiple languages. You're right though, we need to set up the example better. I'll add that to our list to handle for the new year.

[2020-12-28 14:02] budparr commented on #379
Thank you, @onedrawingperday We'll be making some improvements in January.

[2020-12-28 14:10] budparr commented on #378
Not really. They are case-insensitive, but would probably look better lowercase.

[2020-12-28 14:18] hellojinwoo commented on #380
Thank you for your reply @budparr . Can you show me examples to add another language to the English-based Ananke github pages?

[2020-12-29 23:48] tuck1s opened #381 "Posts use only about 30% of screen width"
![Screenshot 2020-12-29 at 23 45 09](https://user-images.githubusercontent.com/11942927/103321151-2683f580-4a30-11eb-9c8c-9ecba81eefb0.png)

by default, posts seem to use only a middle portion of the screen on a standard 1920x1080 monitor. Checked this on both Chrome and Firefox on a Mac.

is there a way to get the article to fill out the width a bit more? Ideally with a global setting, I don't ne

[2020-12-30 10:45] moreedri opened #382 "site-navigation partial contains hardcoded text in on-hover"
in themes/ananke/layouts/partials/site-navigation.html
there is a line

`<a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
`

the word "page" is hardcoded and needs to be included in i18n

[2020-12-30 10:48] moreedri opened #383 "folder i18n needed in example website"
If the i18n files remain under the `/theme` folder, live previewing in hugo will render translated strings, but the rendered website in `/public` will not.

The example website included with the theme should also contain the i18n folder and the `en.toml` language file (as the example site is in english)

[2020-12-30 16:02] budparr commented on #381
That's by design. We use a readable line length. Here's one source https://practicaltypography.com/line-length.html

[2020-12-30 16:07] tuck1s commented on #381
Ah OK, thanks. I've added more articles and I see the space on the right is used for related articles, which makes sense.

[2020-12-30 16:07] #381 closed

[2020-12-30 20:40] tuck1s opened #384 "amount of featured_image shown?"
Is it possible to control the Y axis amount of `featured_image` that is shown? Looks like it's based on the amount of space the `title` and `description` needs.

`description` text seems to have whitespace compacted down, so it's not possible to deliberately write multiline descriptions to make more of the image get used?

[2021-01-04 16:15] regisphilibert commented on #383
I'm going to need more context here...

The string are rendered fine through the exampleSite (which is not multilingual) on my local machine. I can also confirm that the strings gets rendered in their matching language on a multilingual project.

As for your suggestion, the i18n directory is picked up from the theme if not found on the project level, so I fail to grasp the problem with the directo

[2021-01-11 19:37] regisphilibert commented on #379
@budparr I want remove webpack altogether. Currently the script is an empty shell that can be overwritten by users. We'll leave it as an empty shell, and users will only have to overwrite it inside `assets/ananke/js/main.js` in order for it to be processed by `js.Build`.

Won't it be a problem for users relying on webpack? I think those are fairly advanced since they must compile the theme's asset

[2021-01-11 20:57] regisphilibert opened #388 "Discuss Ananke 3.0.0"
I'm creating this issue to spec Ananke 3 which will use the latest Hugo features and introduce major changes. Here we'll define what feature we want to keep, which ones we want to drop and a better UX for parameters.

## Questions to address.

### Move to Tailwind.

That's a given. This should not be a problem following #379.

### Parameters

For now Parameters are stored under unreserved keys `cu

[2021-01-11 20:59] regisphilibert commented on #27
Dupliate of #256

[2021-01-11 20:59] #27 closed

[2021-01-11 21:00] regisphilibert commented on #28
Shall we close this @budparr ?

[2021-01-11 21:01] regisphilibert commented on #59
@budparr could you add more detail on this one?

[2021-01-11 21:02] regisphilibert commented on #61
@budparr could you add more detail on this one?

[2021-01-11 21:03] regisphilibert commented on #62
We should probably make sure this might not conflict with the user's own project. Also we'd need a list of the desired header here.

[2021-01-11 21:03] regisphilibert commented on #66
I'm going to close this. I'm sure we'll do better in 3.0.

[2021-01-11 21:03] #66 closed

[2021-01-11 21:07] regisphilibert commented on #102
I don't think we need Google+ anymore...

[2021-01-11 21:07] #102 closed

[2021-01-11 21:07] #119 closed

[2021-01-11 21:08] #123 closed

[2021-01-11 21:09] #121 closed

[2021-01-11 21:09] #125 closed

[2021-01-11 21:09] #126 closed

[2021-01-11 21:15] #232 closed

[2021-01-11 21:43] #380 closed

[2021-01-13 14:00] #61 closed

[2021-01-13 14:00] budparr commented on #61
I think we will naturally address this in 3.0 and don't need the issue

[2021-01-13 14:00] #28 closed

[2021-01-13 14:22] stenius commented on #352
I'm going to close this out and retract my offer.  Just wanted to say thanks again for the work on the theme (@budparr, @regisphilibert) before I do.

[2021-01-13 14:22] #352 closed

[2021-01-17 05:29] littleninja commented on #383
My limited understanding of the difference between i18n and multilingual:

- i18n: Tokenize and replace site chrome (ex. "read more" button)
- multilingual: Configure site to route multiple languages and serve translations of `/content`

Again, I'm new to Hugo and [this is the doc I'm reading on multilingual support](https://gohugo.io/content-management/multilingual). Under ["Configure Multilingua

[2021-01-18 18:14] regisphilibert commented on #383
Yes for me it did. For better understanding you can check the blog post referenced in the doc.

[2021-01-19 20:43] #379 closed

[2021-02-11 03:03] veenavijai commented on #263
@KIRTISNIGDHA you need to add this line in config.toml under params:
custom_css = ["css/custom.css"]

[2021-02-11 03:20] veenavijai commented on #75
I added this in my custom CSS file under static/CSS:

[code]
It's probably hack-y but works!

[2021-02-11 17:42] KIRTISNIGDHA commented on #263
Thank you so much @veenavijai ... It worked !!!

[2021-02-12 10:55] veenavijai commented on #114
For 1 and 7, you can add this to the start of each .md file:
date: 2021-02-03
tags: ["A", "B", "C"]

[2021-02-14 06:34] ellsworthrw opened #395 "How do you add a directory that does not show up in menu"
I want to add a sub-directory that does not show up in the menu but is included in the sitemap.xml.
So say I had the following
[code]
The menu should only have "About" in it. The sitemap.xml should at a minimum have
/
/about/
/extra/

How do I tell the ananke theme to do this?

[2021-02-15 20:36] ellsworthrw commented on #395
I figured it out well enough. I didn't get multiple pages in extra but I got one that worked. What I did:
[code]
And then did not add the menu in the frontmatter.
I wish I could have create lots of other pages/content inside the extra directory.

[2021-02-15 20:36] #395 closed

[2021-02-22 16:00] budparr opened #398 "Test Issue"
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default mod